<div class="row-fluid">
	<div class="span12" style="margin-top:50px">
		<div class="contenedorPubsH" style="width: 100%;padding:30px;">
				<h1>Proceso de envío</h1>
				<div class="row-fluid">
					<div class="span8 offset2">
						<div class="alert alert-info" style="text-align: justify;">
							El comprador ya ha realizado el pago mediante nuestra plataforma, ahora solo te resta hacer el envío del 
							producto a la dirección que nos proporcionó el cliente para que podamos depositarte el pago una vez
							que el comprador reciba su artículo. 
						</div>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span6">
						<h2>Dirección de envío:</h2>
						<div class="well">
						<p style="padding-left: 50px;font-size:18px;">
							<?php $direccion	=	$this->cargo->payment_method->address;  ?>
							<strong>Nombre del destinatario: </strong><?php echo $this->odc->getChargeId()->getNameCard();?>
							<br><br>
							<strong>Calle</strong> <?php echo $direccion["street1"]; ?>
							<br><br>
							<strong>Colonia</strong> <?php echo $direccion["street2"];?>
							<br><br>
							<strong>Ciudad</strong> <?php echo $direccion["city"];?>
							<br><br>
							<strong>Estado</strong>	<?php echo $direccion["state"];?>
							<br><br>
							<strong>Código postal</strong> <?php echo $direccion["zip"];?>
							
						</p>
						</div>
					</div>
					<div class="span6">
							<h2 class="text-center">Confirma tu envío</h2>
							<div class="alert alert-warning" style="height: 200px;padding-top:80px;">
								<p class="text-center">Por favor pulsa el botón en cuanto hayas realizado el envío. 
								para enviarle el número guía a tu comprador</p>
								<div class="row-fluid">
										<div class="span8 offset2">
											<form action="/cuenta/ventas/save-guia/odc/<?php echo $this->odc->getId();?>" method="post" id="form">
											<label style="color:#555;">NUMERO GUIA</label>
    										<input id="numeroguia" name="numeroguia" type="text" placeholder="número guía de paqueteria" style="width: 100%">
											<button type="submit" class="btn btn-large btn-success btn-block" style="width: 100%">Confirmar envío</button>
											</form>
										</div>
								</div>
							</div>
					</div>
				</div>
		</div>
	</div>
</div>
<script>

$(document).ready(function(){
	$("#form").submit(function(e){
				if(!$("#numeroguia").val()){
						e.preventDefault();
						alert("debes ingresar el número guía para tu confirmación de envío");
				}
		});
});

</script>