<style>
<!--
label.error {
	color:#b94a48;
	font-style: italic;
}
-->
</style>

<div class="row-fluid">
	<div class="span12"  style="margin-top:50px;">
		<div class="contenedor container-fluid">
			<div class="row">
				<div class="span12">
					<div style="padding:30px;">
						<h1>Cambio de contrase&ntilde;a</h1>
						<hr/>
						<div style="margin-top:50px">
							<form id="changepass" name="changepass" class="form-horizontal" enctype="multipart/form-data" method="post" action="/users/perfil/cambiocontrasena/" >
							
								 <?php if($this->facebookUser != '1' ): ?>
								 <div class="row"  style="padding: 10px;">
              						<div class="span3">
              							<b>Contraseña actual: </b>
              						</div>
				              		<div class="span9" >
				              			<input class="required input-xxlarge" id="user_current_password_acutal" name="user_current_password_acutal" type="password" placeholder="Contraseña actual" value="">
									</div>
            					</div>
            					<?php endif; ?>
            					
            					<div class="row" style="padding: 10px;">
              						<div class="span3" >
              							<b>Nueva contrase&ntilde;a: </b>
              						</div>
				              		<div class="span9" >
				              			<input class="required input-xxlarge" id="user_current_password" name="user_current_password" type="password" placeholder="Nueva contrase&ntilde;a" value="">
									</div>
            					</div>
            					
            					<div class="row" style="padding: 10px;">
              						<div class="span3" >
              							<b>Confirmar contrase&ntilde;a: </b>
              						</div>
				              		<div class="span9" >
				              			<input class="required input-xxlarge" id="c_user_current_password" name="c_user_current_password" type="password" placeholder="Confirma tu contrase&ntilde;a" value="">
									</div>
            					</div>
            					<div class="row">
            						<div class="span3" ></div>
            						<div class="span9" >
              							<button id="user_profile_save" type="submit" class="btn btn-success btn btn-large">Guardar cambios</button>
              							<i class="icon-large icon-lock" style="vertical-align: middle;"></i>
              						</div>
            					</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

<script type="text/javascript" src="/js/jquery.jqEasyCharCounter.min.js"></script>
<script type="text/javascript" src="/js/jquery.validate.min.js"></script>
<script type="text/javascript">
<!--
	$(function(){
    	$('#changepass').validate({
    		rules: {
    			user_current_password: { 
                    required: true, minlength: 6
              	}, 
              	c_user_current_password: { 
                    required: true, equalTo: "#user_current_password", minlength: 6
              	}
        	},
        	messages: {
        		user_current_password_acutal: "Escribe tu contrase&ntilde;a acutual",
        		user_current_password: {
        			required: "Escribe la nueva contrase&ntilde;a contrase&ntilde;a",
    				minlength: "La contrase&ntilde;a debe ser mayor a 6 digitos"
            	},   
        		c_user_current_password: {
        			required:  "Confirma tu contrase&ntilde;a",
    				minlength: "La contrase&ntilde;a debe ser mayor a 6 digitos",
    				equalTo:   "Las contrase&ntilde;as no coinciden"
            	}
            }
        });
	});
	
//-->
</script>

