<div class="row">
	<div class="span12">
		<div class="contenedor" style="margin-top: 100px;">
			<div class="row-fluid" style="margin-top: 50px;">
				 <div class="span3  text-center">
					<img src="<?php echo ($this->fotoperfil != '')?"/file/perfil/".$this->fotoperfil:"/img/profile.png";  ?>" class="img-rounded" width="140" height="140">
				</div>
				 <div class="span8">
				 	<div class="well">
						<h1><?php echo $this->username; ?></h1>
					 	<p><strong>Acerca de mi: </strong><?php echo $this->acercademi; ?></p>
					 </div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12" style="margin-left: 50px">
					<div><h3>Compartir Perfil</h3></div>
					<?php echo $this->Sharing();?>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span11">
					<div style=" margin-left: 50px; margin-right: 50px; margin-top: 80px;"><h2>Subastas de <?php echo $this->username;?> <i class="fa fa-gavel"></i></h2></div>
				</div>
				<div class="span1"></div>
			</div>
			
			<div class="row-fluid">
				<div class="span10 offset1" >
					<div class="row-fluid">
						<div class="span12">
							<ul class="thumbnails">
								<?php 	
									foreach ($this->pubs as $subasta){
										?>
										<li class="span3" >
											<a  href="<?php echo $subasta["urlPub"];?>">
												<div class="thumbnail thumbIndex" style="min-height: 210px;	position: relative;cursor: pointer;">
													<div class="<?php echo ($subasta["precio"]=="Finalizada")?"priceFinalizado":"priceThumb";?>" >
														<small>
														<?php echo $subasta["precio"]; ?>
														</small>
													</div>
													<img class="resize" src="/img/tmp/medium/<?php echo $subasta["imagen"];?>"/>  	
													<div style="height: 70px">
														<p id="title" style="padding:5px;text-align: justify;"><?php echo $subasta["titulo"];?></p>
													</div>
																
												</div>
											</a>
										</li>	
										
									<?php 
									}?>
							</ul>
						</div>
				</div>
			</div>
				
		</div>
	</div>
</div>

<script type="text/javascript" src="/js/resize/jquery.ae.image.resize.min.js"></script>
<script type="text/javascript">
	$(function(){
			$('.resize').aeImageResize({height:130,width:200});

			$('div .thumbnail').hover(function(event){
					var d = $(this).find('#extrainfo');
					d.show();
					 d.slideDown( "slow", function() {
						    // Animation complete.
						  });
					 event.preventDefault();
				},function(event){
					var d = $(this).find('#extrainfo');
					d.slideUp( "fast", function() {
					    // Animation complete.
					  });	
					 event.preventDefault();
					});
		});
</script>