<div class="row-fluid">
		<div class="span12"  style="margin-top:50px;">
			<div class="contenedor" style="width: 100%;">
			  <div class="row-fluid">
						<div class="span8">
							<div style="padding-left:30px;padding-top: 30px;">
								<h1><?php echo $this->Subasta->getTitulo();?></h1>
								<div class="well" style="background-color: #fff!important;margin-top:30px;">
									<?php switch ($this->StatusSubasta){
											case "por comenzar":
													echo   "<div class='alert alert-warning' style='font-size:22px;'>Por iniciar - ".$this->fecha($this->Subasta->getFechaInicio(),"es_MX","fullhoras")."</div>";
													break;
											case "en progreso":
													echo "<h3 class='tiempoRestante'>Tiempo restante de la subasta:
															<span id='trestante'>
															</span>
															<span style='font-size:18px;float: right;'> ". $this->fecha($this->Subasta->getFechaCierra(),"es_MX","fullhoras")."</span>
														 </h3>";
													break;
											case "finalizada":
												echo "<span class='text-success' style='font-size:22px;'><strong>Esta subasta ha finalizado!</strong></span>";
												break;
									}?>								
									<?php foreach($this->instrucciones as $instruccion){?>
										<p style="margin-top:0px;"><?php echo $instruccion; ?></p>
									<?php }?>
								</div>
								<?php if($this->StatusSubasta=="finalizada"){?>
									<div class="well" style="background-color: #fff!important;margin-top:30px;">
											<?php if($this->Subasta->getPujaMayor() >= $this->Subasta->getPrecioReserva() 
													&&		count($this->Subasta->getPujas())>0	 && $this->Ganador){?>
													<h2 class="text-success">El ganador de la subasta es: <strong><?php echo $this->Ganador->getUsuario()->getNombreUsuario();?></strong></h2>
											<?php }else{?>
													<h3 class="text-error">Lo sentimos el artículo no alcanzó el precio de reserva<br> No hubo ningun ganador. <i class="fa fa-thumbs-o-down"></i></h3>
											<?php }?>
									</div>
								<?php } ?>
								<div id="myCarousel" class="carousel slide" data-interval="false">
								  <ol class="carousel-indicators">
								  	<?php $i=0; foreach ($this->Subasta->getFotos() as $foto){?>
									    <li data-target="#myCarousel" data-slide-to="<?php echo $i;?>" class="<?php echo ($i==0)?"active":"";?>"></li>
								    <?php $i++;}?>
								  </ol>
								  <!-- Carousel items -->
								  <div class="carousel-inner">
								  	<?php $i=0; foreach ($this->Subasta->getFotos() as $foto){?>
								    <div class="<?php echo ($i==0)?"active":"";?> item text-center"><div><img src="/img/tmp/medium/<?php echo $foto->getFileName();?>"></div></div>
								    <?php $i++;}?>
								  </div>
								  <!-- Carousel nav -->
								  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
								  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
								</div>
								<div class="alert alert-info">
									<h3 style="color:#3a87ad;">Descripción del Producto</h3>
								</div>
								<div>
									<p><?php echo $this->Subasta->getDescripcion();?></p>
								</div>
							</div>
						</div>
						<div class="span4" >
							<div style="margin-top: 5px;margin-right: 5px;">
							<div class="alert alert-info"  style="padding:10px;">
								<div style="margin-top:10px;"> 
									<h4 style="color:#fff;padding:5px;margin-left:-11px;margin-top:-10px;margin-right:120px;background-color: #00d;line-height: 25px;">Subasta tipo: <strong><?php echo ucfirst($this->Subasta->getTipoSubastaText());?></strong> </h4>
									<h4 style="color:#999;margin-top:10px;"><?php 	switch($this->Subasta->getTipoSubastaText()){
																				case	"inglesa":
																					echo "Última Puja: ";break;
																				case    "vickrey":
																					echo "Puja Inicial: ";break;
																				case  	 "holandesa":
																					echo "Precio al Momento; ";break;
																			}
																	?><span style="font-size:25px">
									MX<strong><span class="pujaA"><?php 	switch($this->Subasta->getTipoSubastaText()){
																				case	"inglesa":
																					echo $this->moneda($this->Subasta->getPujaMayor());break;
																				case    "vickrey":
																					echo $this->moneda($this->Subasta->getPrecioInicial());break;
																				case  	 "holandesa":
																					$arreglo = $this->Subasta->getPujaHolandesa();
																					echo $this->moneda($arreglo["monto"]);break;
																			}
																	?>
												  </span>
										</strong>
									</span>
									</h4>
									<br>
									<div class="text-center" id="mensajeF">
										<?php switch($this->StatusSubasta){
													case "por comenzar":
														echo "";break;
													case "en progreso":
												?>
										<form id="formPuja" action="/subastas/puja/index/id/<?php echo $this->Subasta->getId()?>" method="post" >
											<div class="input-prepend input-append">
											  <span class="add-on">$</span>
											  <?php if($this->Subasta->getTipoSubastaText()<>"holandesa"){?>
											  <input name="precioPuja" style="width: 50%" id="precioPuja" type="text">
											  <?php }else{?>
											  <input name="precioPuja" style="width: 50%" id="precioPuja" type="text" readonly value="<?php echo $arreglo["monto"];?>">
											  <?php }?>
											  <span class="add-on">.00</span>
											</div>
											<?php if($this->Subasta->getTipoSubastaText()<>"holandesa"){?>
											<span class="help-block" style="margin-top:-10px;">
												<small>Puja MX<span class="pujaM">
												<?php
												switch($this->Subasta->getTipoSubastaText()){
													case	"inglesa":
														echo $this->moneda($this->Subasta->getPujaMayor()+1);break;
													case    "vickrey":
														echo $this->moneda($this->Subasta->getPrecioInicial()+1);break;
												} 
													?> 
												</span>pesos o más.
												</small>
											</span>
											<?php }?>
											<button id="btnPuja" type="submit" class="btn btn-success btn-large" style="width: 60%;" data-loading-text="procesando...">Poner puja</button>
											<span class="help-block" ><a href="/subastas/subasta/ver-pujas/id/<?php echo $this->Subasta->getId();?>"><small>(<span id="npujas"><?php echo count($this->Subasta->getPujas());?></span> pujas)</small></a></span>
										</form>
										<?php 			break;
													case "finalizada": 
										?>
											<h3 class="priceFinalizado" style="font-size:28px;position:initial;">Finalizada</h3>
											<span class="help-block" ><a href="/subastas/subasta/ver-pujas/id/<?php echo $this->Subasta->getId();?>"><small>(<span id="npujas"><?php echo count($this->Subasta->getPujas());?></span> pujas)</small></a></span>
										<?php 			break;
										
										}?>
									</div>
								</div>
							</div>
							<div class="well" style="background-color: #fff!important;font-size:16px;">
								Este artículo esta a la venta por:
								<p class="text-center">
								<a href="/users/perfil/publico/username/<?php echo $this->Subasta->getUsuario()->getNombreUsuario();?>"><?php echo $this->Subasta->getUsuario()->getNombreUsuario(); ?></a>
								</p>
							</div>
							<div class="well text-center" style="background-color: #fff!important;font-size:16px;">
								<h3>Compartir en redes sociales</h3>
								<?php echo $this->sharing(1);?>
							</div>
							</div>
							
					  </div>
				</div>
			</div>
		</div>
</div>



<script src="/js/jquery.countdown.min.js"></script>
<script>
$(document).ready(function(){

	<?php if($this->Subasta->getStatus()==1){ ?>
	$('#trestante').countdown('<?php echo $this->Subasta->getFechaCierra()->format('Y/m/d H:i:s');?>', function(event) {
		var totalD = event.offset.totalDays;
	     $(this).html(event.strftime('<span>'+totalD+'</span>d<span> %-H</span>h<span> %-M</span>m<span> %-S</span>s'));
	   }).on('finish.countdown', function(event) {
		         $(this).parent().addClass('text-error').html('<strong>Esta subasta ha finalizado!</strong>');
		         $.ajax( "/subastas/subasta/checksubasta" ).done(function() {
							location.href="";
			         });

		         $('#mensajeF').html(
		        		 '<h3 class="priceFinalizado" style="font-size:28px;position:initial;">Finalizada</h3>'+
							'<span class="help-block" ><a href="/subastas/subasta/ver-pujas/id/<?php echo $this->Subasta->getId();?>"><small>(<span id="npujas"><?php echo count($this->Subasta->getPujas());?></span> pujas)</small></a></span>');
		         
		   });
  
	   
	   

		var vi	= <?php echo $this->Subasta->getPujaMayor() ;?>;
	
		$('#formPuja').submit(function(e){

			$("#btnPuja").button("loading");
			
				<?php if(!$this->auth){?>
					e.preventDefault();
					$('#myLogin').modal('show');
					$("#btnPuja").button("reset");
				<?php }else{?>

					if( isNaN(parseInt($('#precioPuja').val())) ){
						 e.preventDefault();
						 alert(" La puja debe ser un valor númerico");
						 $("#btnPuja").button("reset");
					}
					<?php if($this->Subasta->getTipoSubastaText()<>"holandesa"){?>
					if(parseInt( $('#precioPuja').val())<= vi ){
						e.preventDefault();
						alert("El monto de la puja debe ser mayor a la puja actual");
						$("#btnPuja").button("reset");	
					}
					<?php }?>
					
				<?php }?>
			});

		<?php if($this->Subasta->getStatusSubastaText()=="en progreso"){?>
		evtSrc = new EventSource( "/subastas/subasta/status/id/<?php echo $this->Subasta->getId();?>" );
		evtSrc.onmessage = function ( e ) {
			var data =JSON.parse(e.data);
			vi = data.maxima;
			if(!isNaN(vi)){
				vi = parseInt(data.maxima);
			var x	=	  parseInt(vi)+1;
			var z	=	  parseInt(vi);
				$('.pujaM').text('$ '+x.format(2)+' ');
				$('.pujaA').text('$ '+z.format(2)+' ');
				<?php if($this->Subasta->getTipoSubastaText()=="holandesa"){?>
				$('#precioPuja').val(z);	
				<?php }?>
			}else{
				$('.pujaM').text('$ '+vi);
				$('.pujaA').text('$ '+vi);
			}
			$('#npujas').text(data.npujas);
		};

		<?php }?>
		 <?php }?>
		Number.prototype.format = function(n, x) {
		    var re = '(\\d)(?=(\\d{' + (x || 3) + '})+' + (n > 0 ? '\\.' : '$') + ')';
		    return this.toFixed(Math.max(0, ~~n)).replace(new RegExp(re, 'g'), '$1,');
		};
});
</script>
