<div class="row-fluid">
		<div class="span12"  style="margin-top:50px;">
			<div class="contenedor" style="width: 100%;">
				<div class="row-fluid">
			  		<div class="span10	 offset1" style="margin-top:30px;">
			  			<h1>Pujas al momento - <small>subasta tipo <?php echo $this->Subasta->getTipoSubastaText();?></small></h1>
			  			<div class="row-fluid">
			  				<div class="span2">
			  					<img class="img-polaroid" src="/img/tmp/thumbnail/<?php echo $this->imagen;?>">
			  				</div>
			  				<div class="span10">
			  					<div style="margin-left: 30px;">
			  					<h3>Subasta: <?php echo $this->Subasta->getTitulo();?></h3>
			  					<a href="<?php echo $this->urlSub;?>" class="btn btn-info">Regresar a la subasta</a>
			  					</div>
			  				</div>
			  			</div>
			  			
			  			<div class="row-fluid">
			  				<div class="span12" style="margin-top: 50px;">
			  				<div class="text-center">
			  				<h2><?php
							if($this->Subasta->getStatusSubastaText()=="finalizada"){
			  				 	if($this->Ganador ){
			  						echo "El ganador es ".$this->Ganador["ganador"]->getUsuario()->getNombreUsuario()
			  						." - ".$this->moneda($this->Ganador["precioFinal"]);
			  					}else{echo "<p class='text-error'>No hubo ganador.</p>";}
							}?></h2>
			  					<?php if(count($this->Pujas)){?>
					  			<table class="table table-bordered">
					  				<thead>
					  					<tr class="alert-info">
					  						<th style="text-align: center;">#</th>
					  						<th style="text-align: center;">Usuario</th>
					  						<th style="text-align: center;">Puja</th>
					  						<th style="text-align: center;">Fecha</th>
					  					</tr>
					  				</thead>
					  				<tbody>
					  					<?php	$i=1; 
					  						foreach($this->Pujas as $puja){?>
					  					<tr>
					  						<td><?php echo $i++;?></td>
					  						<td style="text-align: center;"><a target="_blank" href="/users/perfil/publico/username/<?php echo $puja["usuario"]; ?>"><?php echo $puja["usuario"];?></td>
					  						<td style="text-align: right ;padding-right: 20px;"><?php 
					  						if(is_numeric($puja["precio"]))
					  							echo $this->moneda($puja["precio"]);
					  						else
					  							echo $puja["precio"];
					  						?>
					  						
					  						</td>
					  						<td style="text-align: center;"><?php echo $this->fecha($puja["fecha"],"es_MX","fullhoras");?></td>		
					  					</tr>
					  					<?php }?>
					  				</tbody>
					  			</table>
					  			<?php }else{?>
					  				<div style="font-size:150px;color:#b00;"><i class="fa fa-frown-o"></i></div>
					  				<h3 style="color: #b00;">Aún no hay ofertas en esta subasta</h3>
					  			<?php }?>
					  		</div>
			  				</div>
			  			</div>
			  		</div>
			  	</div>
			</div>
		</div>
</div>		
			 