@CHARSET "UTF-8";


.navbar-inner {min-height: 50px!important;}

.navbar .nav > li > a {
float: none;
padding: 15px 15px 15px!important;
font-size: 12px;
font-weight: bold;
}

.navbar .brand {
padding: 15px 20px 15px 30px!important;
font-family: 'Rammetto One', cursive;
color :#fff;
font-size:24px;
}

.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)!important;
-moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2)!important;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)!important;
}

.navbar-inverse .divider-vertical {border-right-color: #000!important;border-left-color: #111;}
.navbar .divider-vertical {height: 50px!important;margin: 0 9px;border-left: 1px solid #444;}
h1{	color:#666;	font-family: 'Pathway Gothic One', sans-serif;	font-weight: normal;font-size:46px;}
h2{	color:#666;	font-family: 'Pathway Gothic One', sans-serif;	font-weight: normal;}
h3{	color:#666;	font-family: 'Pathway Gothic One', sans-serif;	font-weight: normal;}
h4{	color:#666;	font-family: 'Pathway Gothic One', sans-serif;	font-weight: normal;}
h5{	color:#666;	font-family: 'Pathway Gothic One', sans-serif;	font-weight: normal;}
/* padding 30 pixeles */
.pad30{	padding: 30px;}
.padT30{padding-top: 30px;}
.pad10{	padding:10px;}
.padL0{padding-left: 0px!important;}

input ,select{height:30px!important;font-size:18px!important;}
#inputTitulo{font-size:26px;line-height: 32px;letter-spacing: 1px;}
#inputDescripcion{font-size:18px;line-height: 20px;letter-spacing: 1px;}
#inputInstrucciones{font-size:18px;line-height: 20px;letter-spacing: 1px;}
#inputMencion{font-size:18px;line-height: 20px;letter-spacing: 1px;}
#sinimagen{background-color: #DDD; height: 400px; width:460px; border: 1px #DDD solid;-webkit-border-radius: 5px;
												-moz-border-radius: 5px;border-radius: 5px}
input[type="checkbox"] {cursor: pointer;height: 15px!important;}
.descripcion{	font-size:16px;}
.descripcionPub{font-size:16px; text-align: justify;line-height: 24px;}
.contenedor{
	background-color: white;
	min-height: 500px;
	margin-top: 30px;
	margin-bottom:30px;
	position: relative;
	border: 1px #DDD solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.contenedorPubsH{
	background-color: white;
	min-height: 100px;
	margin-top: 30px;
	margin-bottom:30px;
	border: 1px #DDD solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.contenedorTrans{
	min-height: 500px;
	margin-top: 30px;
	margin-bottom:30px;
	position: relative;
}

.control-group.error .control-label, .control-group.error .help-block, .control-group.error .help-inline {
color: #FF0500;
}
.control-group.error input, .control-group.error select, .control-group.error textarea {
border-color: #FF0500;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
#sinimagen.error{
border-color: #FF0500!important;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)!important;
-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075)!important;
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)!important;	
}
#controlImagen div.controls .help-inline{color: #FF0500;}
.control-group.error .checkbox, .control-group.error .radio, .control-group.error input, .control-group.error select, .control-group.error textarea {
color: #FF0500;
}

.help-inline.error{
color: #FF0500;	
}

textarea.error{
	border: #FF0500 1px solid!important;
}

#footer {background-color: #222;color:#eee;width: 100%;min-width: 940px!important;}
#push, #footer {height: 160px;}

body > #wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -160px;
}

html, body {height: 100%;}


.input-append .add-on, .input-prepend .add-on {
display: inline-block;
width: auto;
height: 30px;
min-width: 16px;
padding: 4px 5px;
font-size: 18px;
font-weight: normal;
line-height: 30px;
}

.tooltip-titulo{background-position: 0 0;}
.tooltip-nombre{	background-position: 0 -231px!important}
.tooltip-tipo{	background-position: 0 -461px!important}
.tooltip-url{background-position: 0 -700px!important}
.tooltip-seguidores{background-position: 0 -940px!important}
.tooltip-seguidores{background-position: 0 -940px!important}
.tooltip-imagen{background-position: 0 -1170px!important}
.tooltip-descripcion{background-position: 0 -1400px!important}

.tooltip-wrap p{padding: 30px;text-align: justify;}
.tooltip-wrap{
	width: 255px;height: auto;background-color: #fff;display:none;
	border: 1px #DDD solid;	-webkit-border-radius: 5px;	-moz-border-radius: 5px;	border-radius: 5px;
}

.tooltip-img {
background: url("/img/tooltips.png") 0px 0 no-repeat;
width: 231px;
height: 231px;
margin: -20px 20px 20px 20px;
}
.tablebarpub a{	text-decoration: none;	color:#888!important;}
.tablebarpub a:hover h2, a:hover h5{	color:#1EC917!important;}
.priceThumb{
	font-family: 'Pathway Gothic One', sans-serif;font-size:20px;
	background-color: #0B0;min-width: 30px;position: absolute;top: 15px;
left: -1px;color:#fff;padding:0 10px 0 10px;font-weight: 300;line-height: 30px;vertical-align: middle;
}
.priceFinalizado{
	font-family: 'Pathway Gothic One', sans-serif;font-size:20px;
	background-color: #B00;min-width: 30px;position: absolute;top: 15px;
left: -1px;color:#fff;padding:0 10px 0 10px;font-weight: 300;line-height: 30px;vertical-align: middle;
}

.redsocialType{
	min-width: 50px;height: 20px;position: absolute;top:5px;
	left:180px; color:#fff;padding:0 10px 0 10px;font-weight: bold;
}
.thumbIndex{background-color: #fff;}
.thumbIndex #title {	color:#555!important;}
.thumbIndex:hover #title {	color:#2F96B4!important;}
.thumbIndex:hover #extrainfo {	margin-bottom: 5px!important;}
li.span3  a {	text-decoration: none!important; color:#666;}
li.span3  a :hover{	text-decoration: none!important;}
.btn-large{font-family: 'Pathway Gothic One', sans-serif!important;font-size:26px!important;}

.statsPubnumber{margin:15px 20px 0 80px;vertical-align:middle ;float: left;font-family: 'Pathway Gothic One', sans-serif;font-size: 40px;}
.statsPubtext{vertical-align:middle;font-size:18px;float: left;margin-top: 9px;line-height: 16px;font-family: 'Pathway Gothic One', sans-serif;}
.statsPubstars{vertical-align:middle;font-size:20px;margin-top: 10px;line-height: 16px;text-align: center;font-family: 'Pathway Gothic One', sans-serif;}
.text-success{color:#00AF00!important;}

th{font-weight: normal!important;font-family: 'Pathway Gothic One', sans-serif;font-size:18px;letter-spacing: 1px;}


.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #1EC917;
  background-image: -moz-linear-gradient(top, #1EC917, #1EC917);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1EC917), to(#1EC917));
  background-image: -webkit-linear-gradient(top, #1EC917, #1EC917);
  background-image: -o-linear-gradient(top, #1EC917, #1EC917);
  background-image: linear-gradient(to bottom, #1EC917, #1EC917);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1EC917', endColorstr='#1EC917', GradientType=0);
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #1EC917;
  background-image: -moz-linear-gradient(top, #1EC917, #1EC917);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1EC917), to(#1EC917));
  background-image: -webkit-linear-gradient(top, #1EC917, #1EC917);
  background-image: -o-linear-gradient(top, #1EC917, #1EC917);
  background-image: linear-gradient(to bottom, #1EC917, #1EC917);
  background-repeat: repeat-x;
  outline: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1EC917', endColorstr='#1EC917', GradientType=0);
}

.tabTitle h3 > img{	margin-right: 10px;}
.etiqueta{font-size:16px;padding-top:10px;}


.wrap {
	width: 195px;
	height: 226px;
    background:#FFF;
    /*margin:20px auto;*/
    padding: 10px;
    overflow: visible;
    margin: 20px 10px 20px 10px;
	padding: 10px;
	float: left;
}

/*==================================================
 * Effect 8
 * ===============================================*/
 


.effect8
{   position:relative;       
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect8:before, .effect8:after
{
   content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
} 
.effect8:after
{
    right:10px; 
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg); 
       -moz-transform:skew(8deg) rotate(3deg);     
        -ms-transform:skew(8deg) rotate(3deg);     
         -o-transform:skew(8deg) rotate(3deg); 
            transform:skew(8deg) rotate(3deg);
}  

.wrap > img {
    width: 214px;
	height: 132px;
}

.wrap > p{ 
	margin: 4px 2px 10px 2px;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	color: #555;
	max-height: 57px;
	height: 57px;
}

.wrap > h1{
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px; 
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

.wrap > a{
    text-decoration: none;
    color: #4A4A4A !important;
}

.wrap a:hover{
    text-decoration: underline;
    color: #6B6B6B !important ;
}
#extrainfo{height: 21px;
font-size: 12px;
line-height: 21px;
color: #555;font-size:16px;
line-height:14px;border-top: 1px #E7E7E7 solid;
padding: 9px 5px 0 5px;
overflow: hidden;}

.effect8:hover{
	 -webkit-box-shadow:0 0 20px rgba(0,187,0,0.3);
    -moz-box-shadow:0 0 20px rgba(0,187,0,0.3);
    box-shadow:0 0 20px rgba(0,187,0,0.3);

}


body{
	background-image: url('../img/bg.jpg');
	background-repeat: repeat;
	color:#666; 
}

.tiempoRestante{
	color:#00bb00;
	font-size:22px;	
}
.tiempoRestante span{
	color:#005500;
}


