<script type="text/javascript" src="/js/resize/jquery.ae.image.resize.min.js"></script>

<div class="row">
	<div class="span12" style="margin-top:80px;">
		<div class="row">
			<div class="span12">
				<div id="thumbs" style="display: block;">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span4 offset4" style="margin-bottom: 50px;">
				<div class="well well-large" style="background-color:#fafafa!important;">
					<button id="btnMaspubs" type="button" 
					class="btn btn-large  btn-block disabled" data-loading-text="Cargando..."
					style="padding: 20px 0 20px 0!important;">Cargar más</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function(){
			var pag=<?php echo $this->page;?>;
			var cat=<?php echo $this->categoria;?>;
			sp();
			
			$('.resize').aeImageResize({height:130,width:200});

			function sp(){
			 $.getJSON("/default/index/mostrarpubs",{p:pag,c:cat})
			 	.done(function(json){
				 		if( pag >= json.paginas.pageCount){
				 			$("#btnMaspubs").parent().hide();
				 		}else{
				 			$("#btnMaspubs").parent().show();
				 		}
				 		var pubs = json.pubs;
				 		var nodos;var nodoLi='' ;
				 		var x=1;
				 		if(json.pubs.length!=0){
				 		for(var i=0;i<json.pubs.length;i++){
					 		var m="";
							if(pubs[i].status==1){
								m="priceThumb";
							}
							if(pubs[i].status==2){
								m="priceFinalizado";
							}
							
				 			nodo=	'<a  href="'+pubs[i].urlPub+'"><div class="wrap effect8">';
							nodo+=	'<div class="'+m+'" >'+
										'<small>'+
											 pubs[i].precio + 
										'</small>'+
									'</div>';
				 			nodo+=	'	<img src="/img/tmp/thumbnail/'+pubs[i].imagen+'" >';
				 			nodo+=	'<p>'+pubs[i].titulo+'</p>';
				 			nodo+=  '<div id="extrainfo"  >'+
											'<div style="margin-left:0px;color:#444!important;float:left; font-family: \'Pathway Gothic One\', sans-serif;font-size:16px!important;">'+
											'Inicio: MX'+pubs[i].precioIni+
										'</div>'+
										'<div style="margin-left:5px;color:#444!important;float:right; font-family: \'Pathway Gothic One\', sans-serif;font-size:16px!important;">'+
										pubs[i].nombreUsuario+
										'</div>'+
									'</div>';
				 			nodo+=	'</div></a>';

				 			$('#thumbs').append(nodo);
					 		
					 		/*
					 		nodoLi += '<li class="span3" >'+
									'<a  href="'+pubs[i].urlPub+'">'+
										'<div class="thumbnail thumbIndex" style="min-height: 210px;	position: relative;cursor: pointer;">'+
											'<div class="priceThumb" >'+
												'<small>'+
													 pubs[i].precio + 
												'</small>'+
											'</div>'+
											'<img class="resize" src="/img/tmp/medium/'+pubs[i].imagen+'"/>'+	
											'<div style="height: 70px">'+
												'<p id="title" style="padding:5px;text-align: justify;">'+pubs[i].titulo+'</p>'+
											'</div>'+
											'<div id="extrainfo" class="alert alert-info" style="display:none;padding:5px;height: 20px;" >'+
												'<div style="float: left;margin-top:-2px">'+
													'<img style="vertical-align: middle;" src="/img/'+pubs[i].logoredsocial+'" width="24" height="24"/>'+
												'</div>'+
												'<div style="margin-left:5px;color:#444!important;float:left; font-family: \'Pathway Gothic One\', sans-serif;font-size:16px!important;">'+
												pubs[i].nombreUsuario+
												'</div>'+
												'<div style="color:#444!important;float:right;font-family: \'Pathway Gothic One\', sans-serif;font-size:16px!important;">rating : 100%</div>'+
											'</div>'+					
										'</div>'+
									'</a>'+
								'</li>'
							 		;

					 		if(x%4==0 && i!=0){
						 		$('#thumbs').append('<div class="row"><div class="span12 tmb'+pag+'_'+i+'"><ul class="thumbnails"></ul></div></div>');
						 		$('#thumbs > div > .tmb'+pag+'_'+i+' > ul ').append(nodoLi);
						 		 nodoLi='';
						 		 x=0;
					 		}
							x++;*/
				 		}//fin for
					 		$('#btnMaspubs').button('reset');
				 		}else{	
					 		$('#btnMaspubs').addClass('disabled');	}
				 		
				 		$('div .thumbnail').hover(function(event){
							var d = $(this).find('#extrainfo');
							d.show();
							 d.slideDown( "slow", function() {
								    // Animation complete.
								  });
							 event.preventDefault();
						},function(event){
							var d = $(this).find('#extrainfo');
							d.slideUp( "fast", function() {
							    // Animation complete.
							  });	
							 event.preventDefault();
							});
						
				 		$('.resize').aeImageResize({height:130,width:200});

				 	});

			};//fin de function


			$("#btnMaspubs").click(function(){
					$(this).button('loading');
					pag++;
					sp();
				});
					 
		
		});
</script>