
<div style="margin-top: 100px;padding:30px;">
	<?php if($this->error){
				foreach($this->error as $error){
					echo "<h3>".$error."</h3>";
				}
		
	}else{
		if($this->aprobado==1 && isset($this->aprobado)){
			echo "<h1>TRANSFERENCIA EXITOSA</h1>";
		}
	}
	
	if($this->aprobado==0 && isset($this->aprobado))
		echo "<h1>DECLINADA</h1>";
	
	echo "<h1>resultado texto ".$this->texto."</h1>";
	?>
	
	

</div>

<form id="transaccion" name="transaccion" method="post" enctype="application/x-wwwform-
	urlencoded" style="margin-top:50px;">
	<label for="nombre" class="required">Nombre Titular:</label>
	<input type="text" name="nombre" id="nombre" >
	<label for="apellidos" class="required">Apellidos titular:</label>
	<input type="text" name="apellidos" id="apellidos" >
	<label for="numeroTarjeta" class="required">Numero Tarjeta:</label>
	<input type="text" name="numeroTarjeta" id="numeroTarjeta" >
	<label for="cp" class="required">CP:</label>
	<input type="text" name="cp" id="cp" >
	<label for="cvt" class="required">CVT: (Código de seguridad de la
	tarjeta)</label>
	<input type="text" name="cvt" id="cvt" >
	<label for="monto" class="required">Monto:</label>
	<input type="text" name="monto" id="monto" >
	<label for="mesExpiracion" class="required">Mes Expiracion:</label>
	<input type="text" name="mesExpiracion" id="mesExpiracion" >
	<label for="anyoExpiracion" class="required">Año Expiracion:</label>
	<input type="text" name="anyoExpiracion" id="anyoExpiracion" >
	<input type="hidden" name="idSucursal" id="idSucursal" value="379eeee9d23ec932c4216cc8de7d57300951cfc7">
	<input type="hidden" name="idServicio" id="idServicio" value="3">
	<input type="hidden" name="idUsuario" id="idUsuario" value="93508dda9dda57e859fed030d03174e2b9038b0f">
	<label for="email" class="optional">email:</label>
	<input type="text" name="email" id="email" >
	<label for="telefono" class="required">Telefono (10 dígitos):</label>
	<input type="text" name="telefono" id="telefono" >
	<label for="celular" class="required">Celular (10 dígitos):</label>
	<input type="text" name="celular" id="celular" >
	<label for="calleyNumero" class="required">calleyNumero:</label>
	<input type="text" name="calleyNumero" id="calleyNumero" >
	<label for="colonia" class="required">colonia:</label>
	<input type="text" name="colonia" id="colonia" >
	<label for="municipio" class="required">municipio:</label>
	<input type="text" name="municipio" id="municipio" >
	<label for="estado" class="required">estado:</label>
	<input type="text" name="estado" id="estado" >
	<label for="pais" class="required">pais:</label>
	<input type="text" name="pais" id="pais" >
	<button id="botonComprar" type="submit" class="btn btn-success btn-large"> Finalizar compra </button>
</form>

