<?php
		$moneda = new Zend_Currency('es_MX');
		$moneda->setValue($this->espaciopublicitario->getPrecioMencion());
		$web= parse_url($this->serverUrl(true));
		$urlActual = 'http://'.$web['host'].$web['path'];
		
		$config = Zend_Controller_Front::getInstance()->getParam('bootstrap');
		$fbkeys = $config->getOption('facebook');
		$appid=$fbkeys["appid"];
		$appsecret=$fbkeys["appid"];
		
		$this->headMeta()->setProperty('og:title', $this->espaciopublicitario->getTitulo() );
		$this->headMeta()->setProperty('og:type', 'website');
		$this->headMeta()->setProperty('og:url', $urlActual);
		$this->headMeta()->setProperty('og:image', "http://".$web['host']."/img/tmp/medium/".$this->espaciopublicitario->getImagen());
		$this->headMeta()->setProperty('og:description', 'Compra menciones en mi red social a un super precio http://www.endaroo.com');
		$this->headMeta()->setProperty('fb:app_id', $appid);
		$this->headMeta()->setProperty('fb:admins', '1112151402');
		
		?>
<div class="row">
	<div class="span12"  style="margin-top:50px;">
			<div class="contenedor" style="width: 100%;">
				<div class="row">
				<!-- COLUMNA IZQUIERDA -->
			  	<div class="span8">
			  			<div class="row">
			  				<div class="span8">
			  					<div style="padding: 30px 0 0px 30px;">
					  				<h1><?php echo $this->espaciopublicitario->getTitulo();?></h1>
					  				<div class="well" style="background-color: #FDFDFD!important;">
						  				<h3 style="color:#0B0;">Precio por mención <strong><?php echo $moneda; ?></strong></h3>
						  				<p>
										<i class="icon-large icon-globe" style="vertical-align: middle;"></i>
										<strong>Página del Pub :</strong> 
										<?php echo $this->espaciopublicitario->getUrl();?>
										</p>
						  				<p>
										<i class="icon-large icon-credit" style="vertical-align: middle;"></i>
										<strong>Precio por mención :</strong> 
										<span class="text-success"><?php echo $this->moneda($this->espaciopublicitario->getPrecioMencion());?></span>
										</p>
										<p>
											<i class="icon-large icon-group" style="vertical-align: middle;"></i>
											<strong>Red social :</strong>
											<img src="/img/<?php echo $this->espaciopublicitario->getRedsocial()->getLogoRedsocial();?>" width="32" height="32"/>
										</p>
										<p>
											<i class="icon-large icon-stats" style="vertical-align: middle;"></i>
											<strong>Numero de seguidores :</strong>
											<?php echo $this->numero($this->espaciopublicitario->getNumeroSeguidores());?>
										</p>
				  					</div>
			  					</div>
			  				</div>
			  			</div>
			  			<div class="row">
			  				<div class="span8" style="text-align: center;margin-top:0px;margin-left: 35px;">
			  					<img src="/img/tmp/medium/<?php echo $this->espaciopublicitario->getImagen();?>"/>
			  				</div>
			  			</div>
			  			<div class="row">
			  				<div class="span8" >
			  					<div class="pad30">
				  					<h3 class="alert alert-info">Descripción del espacio publicitario</h3>
				  					<div class="descripcionPub">
				  						<?php echo $this->espaciopublicitario->getDescripcion();?>
				  					</div>
			  					</div>
			  				</div>
			  			</div>
			  			<div class="row">
			  				<div class="span8" >
			  					<div class="pad30">
				  					<h3 class="alert alert-info">Términos y Condiciones para el comprador</h3>
				  					<div class="descripcionPub" style="margin-bottom:50px;">
				  						<?php echo $this->espaciopublicitario->getInstrucciones();?>
				  					</div>
			  					</div>
			  				</div>
			  			</div>
			  	</div>
			  	<!-- FIN COL IZQUIERDA -->
			  	
			  	<!-- COLUMNA DERECHA -->
				  	<div class="span4">
					  	<div class="row">
					  		<div class="span4">
					  			<div class="padL0" style="margin-top:40px;padding-right:10px;">
					  			<?php if(!$this->esMiPub){ ?>
					  				<a id="btn_compra" <?php if(!$this->login){?>href="#myLogin" role="button"  data-toggle="modal"<?php }else{
									   ?> href="/cuenta/compras/paso1/pub/<?php echo $this->espaciopublicitario->getId();?>" <?php }?> class="btn btn-success btn-large btn-block" data-loading-text="Cargando...">
									   Propuesta de compra...
									</a>
								<?php }else{?>
									<a id="btn_edicion" href="/cuenta/espaciopublicitario/editar/pub/<?php echo $this->espaciopublicitario->getId();?>"  class="btn btn-success btn-large btn-block" data-loading-text="Cargando...">
										Editar mi Pub
									</a> 
								<?php }?>
					  			</div>
					  			<div style="margin-top: 30px" class="pad10">
						  			<table class="table" >
						  				<tr>	
						  					<td align="center" class="text-center">
						  						<div class="statsPubstars">
						  							Ranking
						  						</div>	
						  						<div class="statsPubstars">
							  						<img src="/img/starg.png" width="32" height="32"/>
							  						<img src="/img/starg.png" width="32" height="32"/>
							  						<img src="/img/starg.png" width="32" height="32"/>
							  						<img src="/img/starg.png" width="32" height="32"/>
							  						<img src="/img/starg.png" width="32" height="32"/>
						  						</div>
						  						<div class="statsPubstars" style="font-size:14px!important">
						  							Calificación de compradores	
						  						</div>
						  					</td>
						  				</tr>
						  				<tr>
							  				<td align="center" style="padding-bottom: 15px;">
							  					<div class="statsPubnumber" > 
							  						<strong>0</strong> 
							  					</div>
							  					<div class="statsPubtext">
							  						Ordenes<br> en espera
							  					</div>	
							  				</td>
							  			</tr>
							  			<tr>
							  				<td align="center" style="padding-bottom: 15px;">
							  					<div class="statsPubstars">
							  						Comparte este Pub
							  					</div>	
							  					<div class="statsPubstars">
								  					<a href="#" 
													  onclick="
													    window.open(
													      'https://www.facebook.com/sharer/sharer.php?u=<?php echo $urlActual;?>', 
													      'facebook-share-dialog', 
													      'width=626,height=436'); 
													    return false;">
													  	<img src="/img/facebook_button.png"/>
													</a>
												</div>
												<div class="statsPubstars">
													<a href="https://twitter.com/share" class="twitter-share-button" data-related="jasoncosta" data-lang="en" data-size="large" data-count="none">Tweet</a>
													<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
												</div>
												<div class="statsPubstars">
													<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
													<g:plusone size="tall" annotation="none"></g:plusone>
												</div>
							  				</td>
							  			</tr>
							  			<tr>
							  				<td	align="center" style="text-align: justify;">
							  					<div class="statsPubstars" style="margin-bottom: 10px;">
							  						Creado por <a href="<?php echo $this->espaciopublicitario->getUsuario()->getUrlPerfil();?>">
							  							<?php echo $this->espaciopublicitario->getUsuario()->getNombreUsuario(); ?>
							  									</a>
							  					</div>
							  					<span style="text-align: justify!important; ">
							  						
							  					</span>
							  				</td>
							  			</tr>
							  			
						  			</table>
					  			</div>
					  		</div>
					  	</div>
				  	</div>
				 <!-- FIN COL DERECHA -->
			  </div>
			</div>
	</div>
</div>
<script type="text/javascript">
$( document ).ready(function() {

	$('#btn_edicion').click(function(){
			$(this).button('loading');
		});

	$('#btn_compra').click(function(){
		$(this).button('loading');
	});
});
</script>
}