<!doctype html>

<html lang="es">

<head>
<meta charset="utf-8">
<link href='<?php echo $this->BaseUrl(); ?>/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
<link href='<?php echo $this->BaseUrl(); ?>/css/style.css' rel='stylesheet' type='text/css'>

<style type="text/css">
body {background-image: url('');
	  background-color:#FFF; }
.zend_form{
	text-align: center;
}	  
li { 
	color: #b94a48;
	line-height:0px; 
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}
</style>
</head>

<body>
	<div class="container-fluid">
		<div class="row center">
			<?php echo $this->form; ?>
		</div>
	</div>
	
	<?php if($this->save):?>
	<form id="loginSucces" name="loginSucces" action="/users/registro/loginbr/" method="POST">
		<input type="hidden" value="<?php echo $this->mail; ?>" id="username" name="username" />
		<input type="hidden" value="<?php echo hash("whirlpool",addslashes($this->pass)); ?>" id="password" name="password" />
	</form>
	<?php endif; ?>
	
	<script type="text/javascript" src="<?php echo $this->BaseUrl(); ?>/js/jquery-1.10.1.min.js"></script>
	<script type="text/javascript" src="<?php echo $this->BaseUrl(); ?>/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="<?php echo $this->BaseUrl(); ?>/js/bootbox.js"></script>
	
	<script type="text/javascript">
		
		<?php if($this->save):?>
			
			//bootbox.alert("!Felicidades ya eres parte de Endaroo!", 
				//function(){
					document.loginSucces.submit();
				//});
		<?php endif;?>

	</script>
</body>

</html>
