<div class="row">
	<div class="span12 text-center">
		<div class="contenedor" style="margin-top: 100px;">
			 <fieldset>
    			<legend>Es necesario que nos proporciones los siguientes datos</legend>
				<?php echo $this->form; ?>
			</fieldset>
		</div>
	</div>
</div>
<script type="text/javascript">
<!--

$( document ).ready(function() {
	$('#username').val('<?php echo $this->username; ?>');
	$('#name').val('<?php echo $this->nombrecompleto; ?>');
	$('#id').val('<?php echo $this->facebookid; ?>');
});

function saveUsuario(){
	document.reg_fb.submit();
}
//-->
</script>