<div class="row-fluid">
	<div class="span12" style="margin-top:50px">
		<div class="contenedorPubsH" style="width: 100%;">


<div class="row-fluid">
	<div class="span10 offset1">
		
		
		<div  style="padding: 30px;">
			<div id="impresion" >		
				  	<h1 class="text-center hidden-xs">Paga tu compra en cualquier OXXO del país</h1>
			    	<div class="row-fluid">
						<div class="span4 offset4">
							<div style="text-align: center;">
								<img src="/img/oxxo.jpg" class="img-responsive" style="display:inline!important;margin-bottom: 20px;">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="span12">
							<?php $fecha = new DateTime();$fecha= $fecha->setTimestamp($this->expira*1)?>
							<p class="text-center">
								Tienes hasta el <?php echo $this->fecha($fecha,"es_MX","full"); ?> para realizar tu pago.
							</p>
							<p class="text-muted">
								Una vez realizado tu pago, se reflejara en nuestro sistema en las 24 horas siguientes de manera
								automática.
							</p>
							<p class="text-center" style="margin-top:10px;">
								 Código de barras número: <?php echo $this->barcode;?>
								 <br>
								 <img src="<?php echo $this->barcodeUrl?>" style="margin-top:10px;"/>
							</p>
							<p>
								Imprime esta página y llévala impresa con el código de barras a cualquier oxxo del país,
								para pagar tu participación.
							</p>
						</div>
					</div>
				</div>
					<div class="row">
						<div class="span8 offset2">
							<a href="/cuenta/compras/panel" class="btn btn-info btn-lg btn-block"><i class="fa fa-rocket"></i> Regresar a compras</a>
						</div>
					</div>
		
		</div>
		
			
	</div>
</div>

</div>
</div>
</div>



