<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<div class="row">
	<div class="span12" style="margin-top:50px">
		<div class="contenedorPubsH" style="width: 100%;">
			<div class="row">
				<div class="span9">
					<h1 class="pad30"><i class="fa fa-shopping-cart "></i> Mis Compras</h1>
				</div>
			</div>
			<div class="row">
				<div class="span12">	
				<div style="padding: 0 30px 0 30px;">
					<table class="table table-hover table-bordered" style="margin-top:50px;">
						<thead style="background-color: #DDD;">	
							<tr>
								<th style="text-align: center;">
									Subasta que ganaste
								</th>
								<th style="text-align: center;">
									Total a pagar
								</th>
								<th style="text-align: center;">
									Status
								</th>
							</tr>
						</thead>
						<tbody>
						<?php foreach($this->odc as $odc){
							if(strlen($odc->getSubasta()->getTitulo())>64)
								$titulo = substr($odc->getSubasta()->getTitulo(), 0,62).'...';
							else
								$titulo = $odc->getSubasta()->getTitulo();
							$urlPub = "/subastas/subasta/show/id/".$odc->getSubasta()->getId()."/".filter_var(str_replace(" ", "-",  $titulo),FILTER_SANITIZE_URL);
							$urlPub = strtolower($urlPub);
							?>
								<tr class="<?php echo $odc->getStatusRowComprador();?>">	
									<td style="vertical-align: middle;"><a href="<?php echo $urlPub;?>"><?php echo $odc->getSubasta()->getTitulo();?></a></td>
									<td style="vertical-align: middle;color:#0b0;">MX<?php echo $this->moneda($odc->getPrecioFinal());?></td>
									<td style="vertical-align: middle;text-align: center;">
										<?php echo $odc->getStatusTextoComprador();?>
									</td>
								</tr>
						<?php }?>
						</tbody>
		  			</table>
	  			</div>
	  			</div>
	  		</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$( document ).ready(function() {
	$(".verVenta").click(function(){
			location.href=$(this).attr('idV');
		});
});
</script>