<script type="text/javascript" src="https://conektaapi.s3.amazonaws.com/v0.3.1/js/conekta.js"></script>
<div class="row">
	<div class="span12" style="margin-top:50px">
		<div class="contenedorPubsH" style="width: 100%;">
				<div class="row">
					<div class="span12">
						<div style="padding:30px;">
							<h1><i class="fa fa-shopping-cart"></i> Tu compra</h1>
							<br>						
							<div class="row-fluid">
								<?php $subasta 	=	$this->odc->getSubasta();?>
								<div class="span4">
									<img src="/img/tmp/medium/<?php echo $subasta->getPrimeraFoto(); ?>" class="img-rounded" style="width: 100%; height: auto;">
								</div>
								<div class="span8">
									<h3><?php echo $subasta->getTitulo();?></h3>
									<p><?php echo $subasta->getDescripcion();?></p>
									<p class="text-info">Artículo subastado por <a href="/users/perfil/publico/username/<?php echo $subasta->getUsuario()->getNombreUsuario();?>"><?php echo ucwords($subasta->getUsuario()->getNombreUsuario()); ?></a> </p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="span12" >
						<div class="row">
							<div class="span12">
							
							<div style="margin-left: 30px"> 
							<hr>
							<h1><i class="fa fa-money"></i> Elige tu forma de pago</h1>
							</div>
							</div>
						</div>
					</div>
					
					<div class="span10 offset1">
						<div style="padding: 0 0 30px 0px;margin-top:10px;">
							<ul class="nav nav-tabs" id="selectorTabPago">
							  <li>
								  	<a href="#tarjetacredito">
								  	<div class="" style="height: 60px;">
							  		<h3><img src="/img/card_visa.png" style="width: 110px;height: auto;"/> Tarjeta de crédito</h3>
							  		</div>
							  		</a>
							  </li>
							  <li>
							  	<a href="#pagooxxo">
							  	<div  class="tabTitle" style="height: 60px;">
							  	<h3><img src="/img/oxxo.jpg" style="width: 80px;height: auto;"/> Paga en OXXO</h3>
							  	</div>
							  	</a>
							  </li>
							</ul>
							<div class="tab-content">
							  <div class="tab-pane" id="tarjetacredito">
							  	<div>
					  	 		<form action="" method="POST" id="paymentFormTC">
					  	 				<h3>Dirección de envío</h3>
					  	 				<hr> 
									  <span class="payment-errors"></span>
									  	<div class="controls controls-row">
										  	<span class="span2 etiqueta" style="text-align: right;">Nombre del titular </span>
										  	<input id="cardNombre" class="span7" name="card[name]" data-conekta="card[name]" type="text" placeholder="Escribe aquí el titular de la tarjeta">
										</div>
										<div class="controls controls-row">
											<span class="span2 etiqueta" style="text-align: right;">Domicilio </span>
										  	<input id="street1" class="span7" name="card[address][street1]" data-conekta="card[address][street1]" type="text" placeholder="Calle y número">										  
										</div>
										<div class="controls controls-row">
											<span class="span2"></span>
										  	<input id="street2" class="span7" name="card[address][street2]"  data-conekta="card[address][street2]" type="text" placeholder="Colonia">										  
										</div>
										<div class="controls controls-row">
											<span class="span2 etiqueta" style="text-align: right;">Estado </span>
										<select name="card[address][state]" data-conekta="card[address][state]" id="state" class="span7">
										    <option value="Aguascalientes">Aguascalientes</option>
										    <option value="Baja California">Baja California</option>
										    <option value="Baja California Sur">Baja California Sur</option>
										    <option value="Campeche">Campeche</option>
										    <option value="Chiapas">Chiapas</option>
										    <option value="Chihuahua">Chihuahua</option>
										    <option value="Coahuila">Coahuila</option>
										    <option value="Colima">Colima</option>
										    <option value="Distrito Federal" selected="selected">Distrito Federal</option>
										    <option value="Durango">Durango</option>
										    <option value="Estado de México">Estado de México</option>
										    <option value="Guanajuato">Guanajuato</option>
										    <option value="Guerrero">Guerrero</option>
										    <option value="Hidalgo">Hidalgo</option>
										    <option value="Jalisco">Jalisco</option>
										    <option value="Michoacán">Michoacán</option>
										    <option value="Morelos">Morelos</option>
										    <option value="Nayarit">Nayarit</option>
										    <option value="Nuevo León">Nuevo León</option>
										    <option value="Oaxaca">Oaxaca</option>
										    <option value="Puebla">Puebla</option>
										    <option value="Querétaro">Querétaro</option>
										    <option value="Quintana Roo">Quintana Roo</option>
										    <option value="San Luis Potosí">San Luis Potosí</option>
										    <option value="Sinaloa">Sinaloa</option>
										    <option value="Sonora">Sonora</option>
										    <option value="Tabasco">Tabasco</option>
										    <option value="Tamaulipas">Tamaulipas</option>
										    <option value="Tlaxcala">Tlaxcala</option>
										    <option value="Veracruz">Veracruz</option>
										    <option value="Yucatán">Yucatán</option>
										    <option value="Zacatecas">Zacatecas</option>
										</select>
										<input type="hidden" size="3" name="currency" data-conekta="currency" value="MXN"/>
										<input type="hidden" size="20" name="card[address][country]" data-conekta="card[address][country]" value="MX"/>
										</div>
										<div class="controls controls-row">
											<span class="span3 etiqueta" style="text-align: right;margin-left:-60px;">Ciudad o Delegación </span>
										  	<input id="city" class="span3" name="card[address][city]" data-conekta="card[address][city]" type="text" placeholder="Nombre de la ciudad">
										  	<span class="span1 etiqueta" style="text-align: right;">C.P. </span>
										  	<input id="zip" class="span3" type="text" name="card[address][zip]" data-conekta="card[address][zip]" placeholder="Código postal">
										</div>
										<br>
										<h3>Datos de tarjeta de crédito</h3>
										<hr>
										<div class="controls controls-row">
											<span class="span2 etiqueta" style="text-align: right;">Número de Tarjeta</span>
										  	<input class="span4" type="text" name="card[number]"  data-conekta="card[number]" placeholder="Ingresa solo números sin espacios">
										  	<span class="span1 etiqueta" style="text-align: right;">CVC <a id="cvcId" href="#" data-html="true" data-toggle="popover"
										  																	data-placement="top"
										  																	data-trigger="hover" 
										  																	data-content="<img src='/img/cvc_help.png'><small>Son los últimos 3 dígitos del reverso de tu tarjeta de crédito que aparecen junto al espacio de firma.</small>"
										  																	title="" data-original-title="Ayuda"><i class="icon-question-sign"></i></a></span>
										  	<input class="span2" type="text" name="card[cvc]" data-conekta="card[cvc]" placeholder="Solo números">
										</div>
										<div class="controls controls-row">
											<span class="span3 etiqueta" style="text-align: right;margin-left:-60px;">Fecha de expiración</span>
											<span class="span1 etiqueta" style="text-align: right;">Mes</span>
											<input type="hidden" id="inputMonth" name="card[exp_month]" data-conekta="card[exp_month]" value=""/>
											<input type="hidden" id="inputYear" name="card[exp_year]" data-conekta="card[exp_year]" value=""/>
											<input type="hidden" id="amount"	data-conekta="amount" value="<?php echo $this->odc->getPrecioFinal()*100;?>">
											<input type="hidden" id="descripcion"	data-conekta="description" value="subastas-<?php echo $this->odc->getId();?>">
											<input type="hidden" data-conekta="reference_id"	id="referencia" value="subastas-<?php echo $this->odc->getId();?>">
											<select id="cardmonth" class="span1" style="margin-left:20px;">
												<?php for($i=0;$i<12;$i++){?>
													<option value="<?php echo ($i<9)?"0".($i+1):$i+1;?>"><?php echo ($i<9)?"0".($i+1):$i+1;?></option>
												<?php }?>
											</select>
											<span class="span1 etiqueta text-center">/</span>
											<span class="span1 etiqueta">Año</span>
											<select style="padding-left:40px;" id="cardyear" class="span2">
												<?php  $year=(int)date("Y");
														for($i=$year;$i<($year+11);$i++){?>
													<option style="padding-left:40px;" value="<?php echo $i;?>">
														<?php echo $i;?>
													</option>
												<?php }?>
											</select>
										</div>
										<!-- Boton -->
										<div id="errorMessage" class="text-center alert alert-error" style="display:none;">
											
										</div>
										<div class="row">
											<div class="span5 offset5">
											<h2 class="alert alert-success text-right" style="margin-right:60px;">Total a pagar : <?php echo $this->moneda($this->odc->getPrecioFinal()); ?></h2>
											</div>	
										</div>
							  	 		<div class="text-center " style="margin-top:20px;" >
										<small>Da click una sola vez para procesar tu pago correctamente</small><br>
										<button  id="btnProcesarPagoTC" data-loading-text="Cargando..." type="submit" class="btn btn-large btn-success "><i class="icon-large icon-credit-card"></i> Procesar cobro a tarjeta</button>
										</div>
									</form>
								</div>
							  </div><!--  Fin tab pane -->
							  <div class="tab-pane" id="pagooxxo">
							  	<form role="form" name="paymentFormOXXO" id="paymentFormOXXO" method="post">
							  		<input type="hidden" data-conekta="amount" id="amount"  value="<?php echo $this->odc->getPrecioFinal()*100;?>">
									<input type="hidden" data-conekta="currency" id="currency" value="MXN">
									<input type="hidden" id="descripcion"	data-conekta="description" value="subastas-<?php echo $this->odc->getId();?>">
									<input type="hidden" data-conekta="reference_id"	id="referencia" value="subastas-<?php echo $this->odc->getId();?>">
									<input type="hidden" data-conekta="cash[type]" value="oxxo" >
									<input type="hidden" name="odc" value="<?php echo  $this->odc->getId();?>">
									<div class="row-fluid">
										<div class="span12">
											<p class="alert alert-warning" style="text-align: justify;">
											Recuerda que al generar tu pago en OXXO deberás imprimir el codigo de
											barras que te daremos y realizar tu pago, una vez hecho
											el depósito en oxxo lo validaremos en las 24 horas siguientes.
											</p>
										</div>
									</div>
										<div class="row-fluid">
										  	<div class="span12">
										  		<div id="errorMessageOxxo" class="text-center alert alert-danger" style="display:none;margin-top:20px;"></div>
										  	</div>
									  	</div>
									<div class="row-fluid">
											<div class="span12">
									  			<p class="text-center" style="font-size:18px;color:#0b0;font-weight: bold;">Precio de tu compra:<span style="font-size:22px;"> <?php echo $this->moneda($this->odc->getPrecioFinal()); ?> </span></p>
									  		</div>
									 </div>
									<div class="row-fluid">
										<div class="offset3 span6">
											<button type="submit" id="btnProcesarPagoOXXO" class="btn btn-success btn-large btn-block" >Generar código de barras OXXO</button> 
										</div>
									</div>
							  	</form>
							  
							  </div>
							</div>
						</div>
					</div><!-- fin span10 offset1 -->
				</div>
			</div>
	</div>
</div>
<form id="payment-form" name="payment-form" method="post" >
				<input type="hidden" name="odc" value="<?php echo $this->odc->getId();?>">
</form>
<script type="text/javascript" src="/js/payments.js"></script>

 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" 
		data-keyboard="false" data-backdrop="static" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-body text-center">
  		<div >
  			<div style="margin-top:50px;margin-bottom:50px;float: left;">
  				<img src="/img/loadingendaroo.gif" width="50" height="50" style="vertical-align: middle; margin-left:50px;"/>
  			</div>
  			<div style="float:right;font-size: 28px;line-height: 30px;width: 400px;margin-top: 40px;">
		   			Espera un momento...<br> el pago se esta procesando.
		   </div>
  		</div>
  </div>
</div>

