<div class="row-fluid">
		<div class="span12"  style="margin-top:50px;">
			<div class="contenedor" style="width: 100%;">
			  <div class="row-fluid">
			  	<div class="span8 offset2" style="margin-top:30px;">
			  		<h2>Hola <?php echo ucfirst($this->auth["nombreUsuario"]);?></h2>
					<div class="row-fluid">
						<div class="span12">
							<?php if($this->Subasta->getTipoSubastaText()<>"holandesa"){?>
								<h3>Estas realizando una puja en este artículo:</h3>
							<?php }else{?>
								<h3>Estas a punto de ser el <strong>ganador</strong> de este artículo:</h3>
							<?php }?>
							<div class="row-fluid">
								<div class="span4">
									<img src="/img/tmp/thumbnail/<?php echo $this->imagen;?>" class="img-rounded" style="width: 100%; height: auto;"/>
								</div>
								<div class="span8">
									
									<p><?php echo ($this->Subasta->getTipoSubastaText()=="holandesa")?"Vas a adquirir este artículo por: ":"Tu propuesta para esta subasta es de :";?><br>
										<div class="text-center" style="margin: 10px;">
											<span style="color:#0b0;font-size:24px;">
												<strong>MX<?php echo $this->moneda($this->tuOferta) ;?></strong>
											</span>
										</div>
										<strong>Envío:</strong> gratis vía FedEx<br>
										<strong>Entrega:</strong> estimado 2 días después del pago<br>
										<strong>Pagos:</strong> Visa, Mastercard, Oxxo vía Conekta<br>
										<strong>Devoluciones:</strong> No hay devoluciones<br>
									</p>
								</div>
							</div>
							<div class="row-fluid">
								<div class="span6 offset3">
									<form id="confirmForm" action="/subastas/puja/save" name="confirForm" method="post">
											<input type="hidden" name="precioPuja" value="<?php echo $this->tuOferta;?>"> 
											<input type="hidden" name="id"	value="<?php echo $this->Subasta->getId();?>">
											<button type="submit" id="btnSubmit" class="btn btn-large btn-success btn-block">Confirmar Oferta</button>
									</form>
								</div>
							</div>
						</div>
					</div>			  		
			  	</div>
			  </div>
			</div>
		</div>
</div>