<div class="row-fluid">
		<div class="span12"  style="margin-top:50px;">
			<div class="contenedor" style="width: 100%;">
			  	<div class="row-fluid">
						<div class="span12">
							<div style="padding:30px;">
							<h1>Configuración de tu Subasta</h1>
							<hr>
							</div>
						</div>
						
						<form class="form-horizontal" id="formConfigura" name="formConfigura" method="post">
						<div class="row-fluid">
							<div class="span12">
								<div style="padding-left:30px;">
									<h3>Selecciona el tipo de subasta para este artículo:</h3>
								</div>
							</div>
						</div>
						<div class="row-fluid">
							<div class="span6">
								  <div class="control-group">
								    <label class="control-label" for="inputTipoSubasta"></label>
								    <div class="controls">
								      <select id="tipoSubasta" class="span10" name="inputTipoSubasta">
								      		<?php foreach($this->TipoSubasta as $ts){?>
								      		<option value="<?php echo $ts->getId();?>" ><?php echo $ts->getNombre();?>
								      		<?php }?>
								      </select>
								    </div>
								  </div>
							</div>
							<div class="span5">
								<p class="alert alert-info"  id="descSubasta" style="padding:10px;text-align: justify;margin-top:-50px;">	
									<?php foreach($this->TipoSubasta as $ts){?>
											<span class="ts" style="display: none;" id="ts-<?php echo $ts->getId()?>">
												<?php echo $ts->getDescripcion();?>
											</span>
									<?php }?>
								</p>
							</div>
						</div>
						<div class="row-fluid">
							<div class="span12">
									<div style="padding-left:30px;">
										<h3>Inicio de la subasta:</h3>
									</div>
							</div>
						</div>
						<div class="row-fluid">
						<div class="span5">
								<div class="control-group">
									<label class="control-label" for="">Fecha:</label>
									 <div class="controls">
								       <input type="text" id="fechaInicio" name="fechaInicio" size="30" value="" contenteditable="false">
								       <div style="width: 100%">
									       <span class="help-inline"></span>
								      </div> 
								     </div>
								  </div>
						</div>
						<div class="span5" >
								<div class="control-group ">
									<label class="control-label" for="">Hora:</label> 
								     <div class="controls">
								       <input type="text" id="horaInicio" name="horaInicio" size="30" value="" contenteditable="false">
								       <div style="width: 100%">
									       <span class="help-inline"></span>
								      </div> 
								     </div>
								 </div>
						</div>
						</div>
						<div class="row-fluid">
						<div class="span12">
								<div style="padding-left:30px;">
									<h3>Cierre de la subasta:</h3>
								</div>
						</div>
						</div>
						<div class="row-fluid">
						<div class="span5">
								<div class="control-group">
									<label class="control-label" for="">Fecha:</label>
									 <div class="controls">
								       <input type="text" id="fechaCierre" name="fechaCierre" size="30" value="" contenteditable="false">
								       <div style="width: 100%">
									       <span class="help-inline"></span>
								      </div> 
								     </div>
								  </div>
						</div>
						<div class="span5" >
								<div class="control-group ">
									<label class="control-label" for="">Hora:</label> 
								     <div class="controls">
								       <input type="text" id="horaCierre" name="horaCierre" size="30" value="" contenteditable="false">
								       <div style="width: 100%">
									       <span class="help-inline"></span>
								      </div> 
								     </div>
								 </div>
						</div>
						</div>
						<div class="row-fluid">
						<div class="span6">
								<div style="padding-left:30px;">
									<h3 id="p1">Precio Inicial para subastar:</h3>
								</div>
						</div>
						<div class="span6">
								<div style="padding-left:30px;">
									<h3 id="p2">Precio de Reserva para poder vender el artículo:</h3>
								</div>
						</div>
						</div>
						<div class="row-fluid">
							<div class="span5" >
								<div class="control-group ">
									<label class="control-label" for=""></label> 
								     <div class="controls">
								     	<div class="input-prepend">
								     		<span class="add-on">MX$</span>
								       		<input type="text" id="precioInicial" name="precioInicial" size="30" value="" contenteditable="false" placeholder="Solo ingresa números">
								       </div>
								       <div style="width: 100%">
									       <span class="help-inline"></span>
								      </div> 
								     </div>
								 </div>
							</div>
							<div class="span5" >
								<div class="control-group ">
									<label class="control-label" for=""></label> 
								     <div class="controls">
								     	<div class="input-prepend">
								     		<span class="add-on">MX$</span>
								       		<input type="text" id="precioReserva" name="precioReserva" size="30" value="" contenteditable="false" placeholder="Solo ingresa números">
								       </div>
								       <div style="width: 100%">
									       <span class="help-inline"></span>
								      </div> 
								     </div>
								 </div>
							</div>
						</div>
						<div id="subastaHolandesa" style="display: none;">
						<div class="row-fluid">
						<div class="span12">
								<div style="padding-left:30px;">
									<h3>Selecciona el intervalo de tiempo para disminuir el precio en minutos: <small>únicamente para subasta holandesa</small></h3>
								</div>
						</div>
						</div>
						<div class="row-fluid">
							<div class="span6">
								  <div class="control-group">
								    <label class="control-label" for="inputTipoSubasta"></label>
								    <div class="controls">
								      <select id="intervalo" class="span6" name="inputIntervalo">
								      		<?php for($i=1;$i<7;$i++){?>
								      		<option value="<?php echo $i*10;?>" ><?php echo ($i*10)." minutos";?>
								      		<?php }?>
								      </select>
								    </div>
								  </div>
							</div>
							<div class="span6">
								<button  type ="button" class="btn btn-primary" id="simular">simular cambio de precio</a>
							</div>
						</div>
						</div>
						<div id="subastaYankee" style="display: none;">
						<div class="row-fluid">
						<div class="span12">
								<div style="padding-left:30px;">
									<h3>Ingresa el número de artículos a subastar: <small>únicamente para subasta yankee</small></h3>
								</div>
						</div>
						</div>
						<div class="row-fluid">
							<div class="span6">
								  <div class="control-group">
								    <label class="control-label" for="inputTipoSubasta"></label>
								    <div class="controls">
								      <select id="numeroItems" class="span6" name="numeroItems">
								      		<?php for($i=1;$i<51;$i++){?>
								      		<option value="<?php echo $i;?>" ><?php echo ($i);?>
								      		<?php }?>
								      </select>
								    </div>
								  </div>
							</div>
						</div>
						</div>
						<div class="row-fluid">
							<div class="span4 offset4" style="margin-top:30px;">
								<button type="submit" class="btn-block btn btn-success btn-large"><i class="fa fa-globe"></i> Publicar Subasta</button>
							</div>
						</div>
						
						</form>
				</div>
			</div>
		</div>
</div>


<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Simulación subasta Holandesa</h3>
  </div>
  <div class="modal-body" style="padding-bottom: 50px;">
  	<div style="height: 450px; overflow-y: scroll;">
    	<table class="table table-bordered" >
    		<thead>
    			<tr>
    				<th>#</th>
    				<th style="text-align: center;">Fecha y Hora</th>
    				<th style="text-align: center;">Precio</th>
    			</tr>
    		</thead>
    		<tbody>
    			
    		</tbody>
    	</table>
    </div>
  </div>

</div>

<script src="/js/jquery-ui-timepicker-addon.js"></script>		
<script>
$(document).ready(function() {
	$("#fechaInicio").datepicker({numberOfMonths: 1, showButtonPanel: true,  showAnim:"drop", minDate: 0, maxDate: "+2M", dateFormat:"yy-mm-dd"});
	$("#horaInicio").timepicker();

	$("#fechaCierre").datepicker({numberOfMonths: 1, showButtonPanel: true,  showAnim:"drop", minDate: 0, maxDate: "+2M", dateFormat:"yy-mm-dd"});
	$("#horaCierre").timepicker();

	function clean(){
		$(".control-group").removeClass("error");
		$(".help-inline").text("");
	}

	$("#simular").click(function(){
		clean();		
	 	
	 	var error=0;

	 	if(!$("#fechaInicio").val()){
	 		error=1;
	 		$("#fechaInicio").parent().parent().addClass("error");
	 		$("#fechaInicio").parent().find("span").text("Selecciona una fecha de inicio");
	 	}

	 	if(!$("#horaInicio").val()){
	 		error=1;
	 		$("#horaInicio").parent().parent().addClass("error");
	 		$("#horaInicio").parent().find("span").text("Selecciona la hora de inicio");
	 	}

	 	if(!$("#fechaCierre").val()){
	 		error=1;
	 		$("#fechaCierre").parent().parent().addClass("error");
	 		$("#fechaCierre").parent().find("span").text("Selecciona una fecha de Cierre");
	 	}

	 	if(!$("#horaCierre").val()){
	 		error=1;
	 		$("#horaCierre").parent().parent().addClass("error");
	 		$("#horaCierre").parent().find("span").text("Selecciona la hora de Cierre");
	 	}

		var str = $("#fechaInicio").val();
	 	var fi = str.split('-');
	 	str	= $("#horaInicio").val();
	 	var hi	=	str.split(':');

	 	var str = $("#fechaCierre").val();
	 	var fc = str.split('-');
	 	str	= $("#horaCierre").val();
	 	var hc	=	str.split(':');

	    var dateOne = new Date(fi[0], fi[1]-1, fi[2], hi[0], hi[1], 0);
	    var dateTwo = new Date(fc[0], fc[1]-1, fc[2], hc[0], hc[1], 0);

	    if ( dateTwo <= dateOne) {
	    	error=1;
	 		$("#fechaInicio").parent().parent().addClass("error");
	 		$("#fechaInicio").parent().find("span").text("La fecha de inicio debe ser MENOR a la fecha de cierre");
	    }


	 	if(!$("#precioReserva").val() ||  isNaN($("#precioReserva").val())){
	 		error=1;
	 		$("#precioReserva").parent().parent().parent().addClass("error");
	 		$("#precioReserva").parent().parent().find(".help-inline").text("El precio de reserva debe ser númerico");
	 	}

	 	if(!$("#precioInicial").val() ||  isNaN($("#precioInicial").val())){
	 		error=1;
	 		$("#precioInicial").parent().parent().parent().addClass("error");
	 		$("#precioInicial").parent().parent().find(".help-inline").text("El precio inicial debe ser númerico");
	 	}

	 	var id=$("#tipoSubasta").val();
	 	if(parseInt(id)==3){
	 		if(  parseInt($("#precioInicial").val()) <=  parseInt($("#precioReserva").val()) ){
	 			error=1;
	 			$("#precioInicial").parent().parent().parent().addClass("error");
		 		$("#precioInicial").parent().parent().find(".help-inline").text("El precio inicial debe ser MAYOR al Precio de reserva");
	 		}
	 	}else{
		 	if(  parseInt($("#precioInicial").val()) >  parseInt($("#precioReserva").val()) ){
				error=1;
				$("#precioInicial").parent().parent().parent().addClass("error");
		 		$("#precioInicial").parent().parent().find(".help-inline").text("El precio inicial debe ser Menor al Precio de reserva");
		 	}
	 	}
			if(!error){

				$.getJSON( "/subastas/subasta/simulacion/fi/"+dateOne.getTime()+"/fc/"+dateTwo.getTime()+
						"/max/"+parseInt($("#precioInicial").val())+"/res/"+parseInt($("#precioReserva").val())+
						"/interval/"+$("#intervalo").val(), function( data ) {
						if(data){
							$('tbody').html('');
							for(var i=0;i<data.length;i++){
								var row = $('<tr/>');
								row.append('<td>'+(i+1)+'</td>');
								row.append('<td>'+data[i].fecha+'</td>');
								row.append('<td style="text-align:right;color:#0b0;">'+data[i].monto+'</td>');
								$('tbody').append(row);
							}
							$('#myModal').modal('show');
						}
				});
				
				
			}
		});

	function subastaSeleccionada(){
		var id=$("#tipoSubasta").val();
		$('.ts').hide();
		$('#ts-'+id).show();
		$('#subastaHolandesa').hide();
		$('#subastaYankee').hide();
		$('#p1').text('Precio Inicial para subastar:');
		$('#p2').text('Precio de Reserva para poder vender el artículo:');
		if(parseInt(id)==3){
			$('#p1').html('Precio Máximo para iniciar subasta:<small>debe ser mayor al precio de reserva</small>');
			$('#p2').html('Precio de Reserva:<small>debe ser menor al precio de máximo</small>');
			$('#subastaHolandesa').show();
		}
		if(parseInt(id)==4){
			$('#subastaYankee').show();
		}
	}

	subastaSeleccionada();
	
	$("#tipoSubasta").change(function(){
			subastaSeleccionada();
		});

	$("#formConfigura").submit(function(){
			clean();		
			 	
		 	var error=0;

		 	if(!$("#fechaInicio").val()){
		 		error=1;
		 		$("#fechaInicio").parent().parent().addClass("error");
		 		$("#fechaInicio").parent().find("span").text("Selecciona una fecha de inicio");
		 	}

		 	if(!$("#horaInicio").val()){
		 		error=1;
		 		$("#horaInicio").parent().parent().addClass("error");
		 		$("#horaInicio").parent().find("span").text("Selecciona la hora de inicio");
		 	}

		 	if(!$("#fechaCierre").val()){
		 		error=1;
		 		$("#fechaCierre").parent().parent().addClass("error");
		 		$("#fechaCierre").parent().find("span").text("Selecciona una fecha de Cierre");
		 	}

		 	if(!$("#horaCierre").val()){
		 		error=1;
		 		$("#horaCierre").parent().parent().addClass("error");
		 		$("#horaCierre").parent().find("span").text("Selecciona la hora de Cierre");
		 	}

			var str = $("#fechaInicio").val();
		 	var fi = str.split('-');
		 	str	= $("#horaInicio").val();
		 	var hi	=	str.split(':');

		 	var str = $("#fechaCierre").val();
		 	var fc = str.split('-');
		 	str	= $("#horaCierre").val();
		 	var hc	=	str.split(':');

		    var dateOne = new Date(fi[0], fi[1]-1, fi[2], hi[0], hi[1], 0);
		    var dateTwo = new Date(fc[0], fc[1]-1, fc[2], hc[0], hc[1], 0);

		    if ( dateTwo <= dateOne) {
		    	error=1;
		 		$("#fechaInicio").parent().parent().addClass("error");
		 		$("#fechaInicio").parent().find("span").text("La fecha de inicio debe ser MENOR a la fecha de cierre");
		    }


		 	if(!$("#precioReserva").val() ||  isNaN($("#precioReserva").val())){
		 		error=1;
		 		$("#precioReserva").parent().parent().parent().addClass("error");
		 		$("#precioReserva").parent().parent().find(".help-inline").text("El precio de reserva debe ser númerico");
		 	}

		 	if(!$("#precioInicial").val() ||  isNaN($("#precioInicial").val())){
		 		error=1;
		 		$("#precioInicial").parent().parent().parent().addClass("error");
		 		$("#precioInicial").parent().parent().find(".help-inline").text("El precio inicial debe ser númerico");
		 	}

		 	var id=$("#tipoSubasta").val();
		 	if(parseInt(id)==3){
		 		if(  parseInt($("#precioInicial").val()) <=  parseInt($("#precioReserva").val()) ){
			 		error=1;
		 			$("#precioInicial").parent().parent().parent().addClass("error");
			 		$("#precioInicial").parent().parent().find(".help-inline").text("El precio inicial debe ser MAYOR al Precio de reserva");
		 		}
		 	}else{
			 	if(  parseInt($("#precioInicial").val()) >  parseInt($("#precioReserva").val()) ){
					error=1;
					$("#precioInicial").parent().parent().parent().addClass("error");
			 		$("#precioInicial").parent().parent().find(".help-inline").text("El precio inicial debe ser Menor al Precio de reserva");
			 	}
		 	}

		 	if(error){
		 		event.preventDefault();
		 	}
	});
});
</script>