<div class="row-fluid">
		<div class="span12"  style="margin-top:50px;">
			<div class="contenedor" style="width: 100%;">
			  	<div class="row-fluid">
						<div class="span8 offset1">
							<div style="margin-top:30px;">
								<h1><i class="fa fa-certificate"></i> Mis Subastas</h1>
								<hr>
							</div>
						</div>
				</div>
				<div class="row-fluid">
					<div class="span12 " style="margin-top:0px;">
						<?php if(count($this->subastas)>0){?>
						<div style="margin:30px 5px 5px 5px;">
						<table class="table table-bordered table-striped" >
							<thead>
								<tr style="background-color: #888;color:#fff;font-weight: bold;">
									<th>#</th>
									<th style="text-align: center;">Foto</th>
									<th style="text-align: center;">Articulo</th>
									<th style="text-align: center;">Status</th>
									<th style="font-size:12px;text-align: center;"><i class="fa fa-eye"></i></th>
									<th style="font-size:12px;text-align: center;"><i class="fa fa-gavel"></i></th>
									<th style="font-size:12px;text-align: center;"><i class="fa fa-usd"></i> puja mayor</th>
									<th style="font-size:12px;text-align: center;"><i class="fa fa-usd"></i> reserva</th>
								</tr>
							</thead>
							<tbody>
								<?php $i=1; 
									foreach($this->subastas as $subasta){
									if(strlen($subasta->getTitulo())>64)
										$titulo = substr($subasta->getTitulo(), 0,62).'...';
									else
										$titulo = $subasta->getTitulo();
									$urlSub = strtolower("/subastas/subasta/show/id/".$subasta->getId()."/".filter_var(str_replace(" ", "-",  $titulo),FILTER_SANITIZE_URL));

								?>
								<tr>
									<td style="width:10px;vertical-align: middle;"><?php echo $i++;?></td>
									<td style="width: 40px;"><img style="width: 40px;" src="/img/tmp/thumbnail/<?php $fotos=$subasta->getFotos(); echo $fotos[0]->getFileName();?>" class="img-rounded" /></td>
									<td style="vertical-align: middle;"><a href="<?php echo ($subasta->getStatusSubastaText()=="sin configurar")?"/cuenta/subasta/configura/id/".$subasta->getId():$urlSub;?>"><?php echo substr($subasta->getTitulo(),0,62)."...";?></a></td>
									<td style="width:100px;vertical-align: middle;text-align: center;"><?php 
									switch($subasta->getStatusSubastaText()){
										case "por comenzar" :
												 			echo "<span class=\"label label-inverse\">Por comenzar</span>";
															break;
										case "en progreso":
															echo "<span class=\"label label-warning\">En Progreso</span>";
															break;
										case "finalizada":	
															$odc = $subasta->getOrdenDeCompra();
															if(!$odc)
																echo "<span class=\"label label-success\">Finalizada</span>";
															else 
																echo "<a href='/cuenta/ventas/panel'><span class=\"label label-success\">Finalizada <br>Ganador ".$odc->getComprador()->getNombreUsuario()."</span></a>";
															break;
										case "sin configurar":
															echo "<span class=\"label label-default\">Sin configurar</span>";
															break;
									}
									?></td>
									<td style="width:30px;text-align:center;font-size:12px; vertical-align: middle;"><?php echo $subasta->getVista();?></td>
									<td style="width:30px;text-align:center;font-size:12px; vertical-align: middle;"><a href="/subastas/subasta/ver-pujas/id/<?php echo $subasta->getId();?>"><?php echo count($subasta->getPujas());?></a></td>
									<td style="width:65px;text-align:center;font-size:12px; vertical-align: middle;"><?php echo $this->moneda($subasta->getPujaMayor());?></td>
									<td style="width:30px;text-align:center;font-size:12px; vertical-align: middle;"><?php echo $this->moneda($subasta->getPrecioReserva());?></td>
								</tr>
								<?php }?>
							</tbody>	
						</table>
						</div>
						<?php }else{?>
							<div class="span8 offset2">
								<div class="text-center" style="color: #b00;" >
									<div style="font-size:150px"><i class="fa fa-frown-o"></i></div>
									<h3 style="color: #b00;">No has creado subastas aún</h3>
								</div>
							</div>
						<?php }?>
					</div>
				</div>
			</div>
		</div>
</div>
	