<script src="/js/wysihtml5/wysihtml5-0.3.0.js"></script>
<script src="/js/wysihtml5/bootstrap-wysihtml5.js"></script>
<link rel="stylesheet" href="/css/bootstrap-wysihtml5.css">
<link rel="stylesheet" href="/css/wysiwyg-color.css">
<script src="/js/wysihtml5/prettify.js"></script>
<link rel="stylesheet" href="/css/jquery.fileupload-ui.css">

<!-- The basic File Upload plugin -->

<script src="/js/jquery.fileupload.js"></script>
<script src="http://blueimp.github.io/JavaScript-Load-Image/js/load-image.min.js"></script>
<script src="http://blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
<script src="/js/jquery.iframe-transport.js"></script>


<script src="/js/jquery.fileupload-process.js"></script>
<script src="/js/jquery.fileupload-image.js"></script>
<script src="/js/jquery.fileupload-validate.js"></script>

<style>
.fotitos{cursor: pointer;}
</style>
<div class="row">
		<div class="span12"  style="margin-top:50px;">
			<div class="contenedor" style="width: 100%;">
			  <div class="row">
						<div class="span10">
						<div style="padding:30px;">
						<h1>Sube tu Subasta</h1>
							<div style="margin-top:50px">
								<form id="formularionuevo" name="formularionuevo" class="form-horizontal" enctype="multipart/form-data" method="post" >
								
						 		  <div id="controlTitulo" class="control-group ">
								    <label class="control-label" for="inputTitulo">Título de la publicación</label>
								    <div class="controls">
								      <textarea name="inputTitulo" id="inputTitulo" class="span7" maxlength="100" rows="2"></textarea>
								      <div style="width: 100%">
								       <span class="help-inline"></span>
								       <span class="pull-right" style="font-size:12px">100 max</span>
								      </div>
								    </div>
								  </div>
	
								  <div id="controlCategoria" class="control-group">
								    <label class="control-label" for="inputCategoria">Categoria</label>
								    <div class="controls">
								      <select id="inputCategoria" name="inputCategoria" class="span3" style="font-size:15px!important">
								     	<?php foreach($this->categorias as $categoria){?>
								     		<option value="<?php echo $categoria->getId();?>"><?php echo $categoria->getNombreCategoria();?>
								     	<?php }?>
								      </select>
								      <span class="help-inline"></span>
								    </div>
								  </div>
								  
								
								  <div id="controlImagen" class="control-group">
								    <label class="control-label" for="inputImg" >Imagen del artículo</label>
								    <div class="controls">
										<div id="conimagen" class="text-center" style="display:none;width:100%;height: auto;">
											<div id="btneliminar" style="background-color: #000;
												height: 21px;" class="text-right"><span class="label label-inverse" style="cursor: pointer" id="deleteimg">Eliminar</span></div>
											<div id="imagen">
												
											</div>
										</div>
										
									 <div id="sinimagen" >	
										<div  class="text-center" style="width:100%;margin-top:100px;">
											<img src="/img/camera_icon.png" width="100" height="100"/><br><br>		
										</div>
								      </div>
								      <span class="help-inline"></span>
								      <div id="progress" class="progress" style="width:550px;display:none">
									        <div class="progress-bar progress-bar-success"></div>
									  </div>
								    </div>
								  </div>
								  
								  <div class="row">
								  <div style="padding-left: 20px">
								  	<div class="span6 offset2">
								  		<div class="text-center" style= "margin-bottom: 40px;margin-top: -20px;">
								  			<div >Puedes agregar hasta 3 fotografías:</div>
								  			<div id="imagenesThumb" style="display: table-row;">
								  			</div>
								  			<div id="result">
								  			</div>
								  			<div>
								  			<span id="btnArchivo" class="btn  btn-info fileinput-button">
											        <i class="glyphicon glyphicon-plus"></i>
											        <span>Selecciona tu imagen...</span>
											        <input id="fileupload" type="file" name="files[]" data-url="/server/php/" multiple>
											</span>
											</div>
								  		</div>
								  	</div>
								  	
								  </div>
								  </div>
								  
								  <div id="controlDescripcion" class="control-group">
								    <label class="control-label" for="inputDescripcion">Descripción</label>
								    <div class="controls">
								    	<textarea id="inputDescripcion" name="inputDescripcion" rows="10" class="span6" maxlength="1000"></textarea>
								    		<div style="width: 100%">
										       <span class="help-inline"></span>
										       <span class="pull-right" style="font-size:12px">1000 max</span>
									      	</div>
								    </div>
								  </div>
								  
								  
								  <div id="controlInstrucciones" class="control-group">
								    <label class="control-label" for="inputInstrucciones">Términos y Condiciones para el comprador</label>
								    <div class="controls">
								    	<input type="hidden" id="inputInstrucciones" name="inputInstrucciones" />
								    	<label>Envío:</label>
    									<input type="text" style="width:100%;" placeholder="Escribe el tipo de envío" name="envio">
    									<br><br>
    									<label>Entrega:</label>
    									<input type="text" style="width:100%;" placeholder="Ingresa el número aproximado de días de entrega del producto" name="entrega">
    									<br><br>
    									<label>Devoluciones:</label>
    									<input type="text" style="width:100%;" placeholder="¿Aceptas devoluciones?" value="No hay devoluciones" name="devoluciones">
								    </div>
								  </div>
								  
								  
								  
								  
								  
								  <input type="hidden" name="inputNombrearchivo" value="" id="nombrearchivo"/> 
								 </form>
								 <div style= "margin-left: -100px;margin-top: 10px;display:none">
								  		
								  </div>
							 </div>
						</div>
						</div>
						<div id="files">
						</div>
						<div class="span1">
							
						</div>
			  </div>
			  <div class="row" >
			  	 <div class="offset3 span6 text-center">
				  <div style="margin:0px 0 100px 0;">
						  	<button id="btn_guardar" class="span4 btn btn-success btn-large" data-loading-text="Guardando...">Guardar y Continuar</button>
				  </div>
				  </div>
			  </div>
			</div>
		</div>
</div>

<script type="text/javascript">
$( document ).ready(function() {
	'use strict';

	
	$('#pop').popover()	 ;

   var dataf;
   var urlDelete='';
   var urlw =  '/server/php/';
   var fileslist=Array();
   var indices=Array();
   var images=Array();
   var c=0;

   $('#fileupload').fileupload({
	   url: urlw,
       dataType: 'json',
       autoUpload:false,
       maxNumberOfFiles:3,
       maxFileSize: 5000000,
       limitMultiFileUploads:3,
       sequentialUploads: true,
       acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
   }).on('fileuploadadd',function(e,data){
	   
   }) 
  .on('fileuploadprocessalways', function (e, data) {
	   			$("#sinimagen").hide();
	   			$("#conimagen").show();
				
	   		 	var index = data.index,
	          	file = data.files[index];
	          	c++;
	   			indices.push(c);
	   			var index = indices.indexOf(c);
	   			fileslist.push(file);
	   			images.push(data.img);
	   			
				//ponemos la imagen principal
				var img = '<div id="img'+c+'" style="width:80px;height:80px;cursor:pointer;margin-right: 10px;float:left"></div>';  
	   			$("#imagen").html(images[index]);
	   			$("#imagen").attr("identificador",c);
				//agregamos la miniatura
	   			$("#imagenesThumb").prepend(img);
	   			$("#img"+c).html(file.preview);
 	   		    $("#img"+c).click(function(){
	   				var id = $(this).attr('id');
	   				id=(id.substr(3,id.lenght))*1;
	   				var index = indices.indexOf(id);
	   				$("#imagen").html(images[index]);
	   				$("#imagen").attr("identificador",id);
	   			});
	   			if(parseInt(indices.length) >= 3 ){
		   			$("#btnArchivo").hide();
	   			}
				
	  	});


   $('#deleteimg').click(function(){
			var id = parseInt($("#imagen").attr("identificador"));
			var index = indices.indexOf(id);
			if (index > -1) {
				indices.splice(index, 1);
				images.splice(index, 1);
				fileslist.splice(index, 1);
				}				
	   	   $("#img"+id).remove();
	   	   	console.log(indices);
	   		console.log(indices.length);
	   	   if(indices.length<3 && indices.length>=1){	 
   				$("#btnArchivo").show();
	   			$("#imagen").html(images[0]);
	   			$("#imagen").attr("identificador",indices[0]);
   			}

 			if(indices.length<=0){
			   $("#sinimagen").show();
    	       $("#conimagen").hide();
 			}
	   });


   function clean(){
	   $("#controlTitulo").removeClass("error");
	   $("div#controlTitulo div.controls div span.help-inline").text("");
		$("#sinimagen").removeClass("error");
		$("div#controlImagen div.controls span.help-inline").text("");
		$("#controlImagen").removeClass("error");
		$("#controlDescripcion").removeClass("error");
		$("div#controlDescripcion div.controls div span.help-inline").text("");
		$("div#controlInstrucciones div.controls div span.help-inline").text("");
		
   }

   $('#btn_guardar').click(function(){
		clean();
	   $('#btn_guardar').button('loading');
		
	   	var error=0;
			if(!$("#inputTitulo").val() || !($("#inputTitulo").val().length>3)){
				$("#controlTitulo").addClass("error");
				var controlTitulo = $("div#controlTitulo div.controls div span.help-inline");
				controlTitulo.text("El título debe tener almenos 4 caracteres");				
				error=1;
			}

			if(!parseInt(indices.length)>0){
				$("#sinimagen").addClass("error");
				$("#controlImagen").addClass("error");
				$("div#controlImagen div.controls span.help-inline").text("Selecciona una imagen");
				error=1;
			}


			if(!$("#inputDescripcion").val() || !($("#inputDescripcion").val().length>50)){
				$("#controlDescripcion").addClass("error");
				var control = $("div#controlDescripcion div.controls div span.help-inline");
				control.text("La descripción debe tener almenos 50 caracteres");				
				error=1;
			}


			
			
		   	if(!error){
			   	var nombresarchivos=Array();
		   		$('#fileupload').fileupload('send',{files: fileslist})
		   		.done(function(data){
							if(data.files[0].error){
								$("#sinimagen").addClass("error");
								$("#controlImagen").addClass("error");
								$("div#controlImagen div.controls span.help-inline").text(data.files[0].error);
								$('html, body').animate({scrollTop: '300px'}, 500);
							}else{
								$.each(data.files, function (index, file) {
									nombresarchivos.push(encodeURIComponent(file.name));
						        });
								$("#nombrearchivo").val(nombresarchivos);
								$('#formularionuevo').submit();			
							}
			   		});		   		
		   	}else{
		   		$('#btn_guardar').button('reset');
		   		$('html, body').animate({scrollTop: '0px'}, 500);
		   	}
	   });

   $('#inputTitulo').hover(function(){$('#helpTitulo').fadeIn('fast');},function(){$('#helpTitulo').hide();});
   $('#controlImagen').hover(function(){$('#helpImagen').fadeIn('fast');},function(){$('#helpImagen').hide();});
   $('#inputDescripcion').hover(function(){$('#helpDescripcion').fadeIn('fast');},function(){$('#helpDescripcion').hide();});
   $('#inputInstrucciones').hover(function(){$('#helpTerminos').fadeIn('fast');},function(){$('#helpTerminos').hide();});
   
   	$('#inputDescripcion').wysihtml5({
   		"link": false, 
   		"image": false	
   		});
		
  
   
});
</script>