<?php 
date_default_timezone_set('America/Mexico_City');
echo $this->doctype('XHTML1_RDFA');
$this->headMeta()->appendHttpEquiv('Content-Type', 'text/html;charset=utf-8');
$this->setEncoding('UTF-8');

//Obtenemos las keys de facebook para la app desde el application.ini
$config = Zend_Controller_Front::getInstance()->getParam('bootstrap');
$fbkeys = $config->getOption('facebook');
$appid=$fbkeys["appid"];
$appsecret=$fbkeys["appid"];
?>
<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" /><base>

<?php //JQUERY?>
<?php $this->headScript()->appendFile( $this->BaseUrl()."/js/jquery-1.10.1.min.js"); ?>
<?php $this->headScript()->appendFile("http://code.jquery.com/ui/1.10.3/jquery-ui.js"); ?>

<?php //CSS JQUERY UI?>
<?php $this->headLink()->appendStylesheet("http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"); ?>


<?php //BORDES REDONDEADOS ?>
<?php //$this->headScript()->appendFile($this->BaseUrl()."/js/jquery.corner.js"); ?>

<?php //UNIFORM JS ?>
<?php //$this->headScript()->appendFile($this->BaseUrl()."/js/jquery.uniform.min.js"); ?>
<?php //$this->headLink()->appendStylesheet($this->BaseUrl()."/css/uniform.default.css"); ?>

<?php //BOOTSTRAP JS ?>
<?php $this->headScript()->appendFile($this->BaseUrl()."/js/bootstrap.min.js"); ?>
<?php $this->headLink()->appendStylesheet($this->BaseUrl()."/css/bootstrap.min.css"); ?>
<?php $this->headLink()->appendStylesheet($this->BaseUrl()."/css/style.css"); ?>
<?php $this->headLink()->appendStylesheet($this->BaseUrl()."/css/bootstrap.icon-large.min.css"); ?>

<?php //NOTIFICACIONES ?>
<?php // $this->headScript()->appendFile($this->BaseUrl()."/js/noty/jquery.noty.js"); ?>
<?php //$this->headScript()->appendFile($this->BaseUrl()."/js/noty/layouts/top.js"); ?>
<?php //$this->headScript()->appendFile($this->BaseUrl()."/js/noty/themes/default.js"); ?>



<!-- GOOGLE FONTS -->
<link href='http://fonts.googleapis.com/css?family=Pathway+Gothic+One|Rammetto+One' rel='stylesheet' type='text/css'>

	 <!---------------- Meta Tags----------------------->
	 <?php echo $this->headMeta(); ?>
	 <!------------------- Title ------------------->
	 <?php     echo $this->headTitle(); ?>
	 <!------------- HeadLink ---------------------->
	 <?php 	  echo $this->headLink();	?>
	 <!-----------------HeadScript ------------------->
	 <?php 	  echo $this->headScript(); ?>
	 <div id="fb-root"></div>
	 
	 <script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=<?php echo $appid;?>";
	  fjs.parentNode.insertBefore(js, fjs);
	  }(document, 'script', 'facebook-jssdk'));</script>
	
</head>
	<body>
		<div id="wrapper">
		<?php echo $this->render('menubar.phtml');?>
		<!-- Registro de usuario -->
			<div id="long" class="modal hide fade" tabindex="-1" data-replace="true">
			  <div class="modal-body">
			  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			  <!-- <div style="width:100%;text-align: center;margin: 30px 0 20px 0;">
			  		
			  		<a href="<?php echo $this->urlLoginFb; ?>" >
			  			<img src="/img/fb_login.png" >
			  		</a>
			  	</div>
			    <hr>
			     -->	
			     <h2 class="text-center">REGISTRATE YA!</h2><br>
			    <iframe src="/users/registro"  width="99.6%" height="400" frameborder="0"></iframe>
			  </div>
			</div>
		
		<!-- Ingreso de usuario -->
			<div id="myLogin" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-body">
			  	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			  	<h2 class="text-center">INICIA TU SESIÓN</h2><br>
			  <!-- 	<div style="width:100%;text-align: center;margin: 30px 0 20px 0;">
			  	<a href="<?php echo $this->urlLoginFb; ?>"><img src="/img/fb_login2.png" ></a>
			    </div>
			    <hr> -->
				    <form class="form-horizontal" method="post" action="/default/index/ingreso">
					  <div class="control-group">
					    <label class="control-label" for="inputEmail">Email</label>
					    <div class="controls">
					      <input type="text" name ="inputEmail" id="inputEmail" placeholder="Ingresa tu email" class="span4">
					    </div>
					  </div>
					  <div class="control-group">
					    <label class="control-label" for="inputPassword">Contraseña</label>
					    <div class="controls">
					      <input type="password" name ="inputPassword" id="inputPassword" placeholder="Ingresa tu contraseña" class="span4">
					    </div>
					  </div>
					  <!-- 
					  <div class="control-group">
					    <div class="controls">
					      <label class="checkbox"> <input type="checkbox" > Recordar sesión </label>
					    </div>
					  </div>
					   -->
					  <div style="width:100%;text-align: center;">
					  	<button type="submit" class="btn btn-success btn-large" style="width:100px;">Login</button>
					  </div>
					</form>
			  </div>
			</div>
		
		<!----------------------------- Contenido central ------------------------------------------>
			<div class="container">
					<?php echo $this->layout()->content; ?>	
			</div>
			<div id="push"></div>
			
		
		</div> <!-- fin wrap -->
		<!------------------------------------- Footer --------------------------------------------->
			<div id="footer">
			<div class="container">
				<!-- <h6>Conéctate con nosotros</h6>
				<fb:like href="http://www.endaroo.com"  colorscheme="dark" layout="standard" action="like" show_faces="true" send="false"></fb:like>
				 -->
			</div>
			</div>
	</body>
</html>
