<?php 
$registrado= Zend_Auth::getInstance();
$auth   = Zend_Auth::getInstance();
$info   = $auth->getStorage()->read();
$registry = Zend_Registry::getInstance();
$_em = $registry->entitymanager;


//obtenemos las ventas no vistas 
if($info){
$ventas = count( $_em->getRepository("Default_Model_OrdenDeCompra")->findBy(array("vendedor"=>$info->id,"vistoVendedor"=>0)));

$compras = count( $_em->getRepository("Default_Model_OrdenDeCompra")->findBy(array("comprador"=>$info->id,"vistoComprador"=>0)));
}

 ?>
 <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<div class="navbar navbar-inverse  navbar-fixed-top">
	<div class="navbar-inner">
		<a class="brand" href="/" ><img src="/img/logoAS.png"  width="200"/>	</a>
		<ul class="nav pull-right">
		      	<li class="divider-vertical"></li>
		      	<li><a href="/" style="color:#fff!important;"> INICIO</a></li>
		      	<li class="divider-vertical"></li>
		      	
			    <li class="dropdown" style="color:#fff!important;">
                        <a href="#" class="dropdown-toggle" style="color:#fff!important;" data-toggle="dropdown">CATEGORIAS<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                        	<?php $categorias = $_em->getRepository("Default_Model_Categoria")->findAll();
                        	foreach($categorias as $cat){ ?>
                          <li><a href="/?c=<?php echo $cat->getId();?>"><?php echo $cat->getNombreCategoria();?></a></li>
                          <?php }?>
                         </ul>
              	</li>
		        <li class="divider-vertical"></li>
		        <li><a href="/cuenta/subasta/nueva" style="color:#fff!important;">VENDE</a></li>
		        <li class="divider-vertical"></li>
		      	<?php /*si esta logueado */ if($registrado->hasIdentity()):?>
			    <li class="dropdown" style="color:#fff!important;">
                        <a href="#" class="dropdown-toggle" style="color:#fff!important;" data-toggle="dropdown"><?php echo strtoupper($info->nombreUsuario); ?> <i class="icon-user icon-white"></i> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="/users/perfil"><i class="icon-user "></i> Mi Perfil</a></li>
                          <li><a href="/cuenta/subasta/mis-subastas"><i class="icon-certificate"></i> Mis Subastas</a></li>
                          <li><a href="/cuenta/subasta/mis-pujas"><i class="fa fa-gavel"></i> Mis Pujas</a></li>
                          <li><a href="/cuenta/compras/panel"><i class="icon-shopping-cart"></i> Mis Compras  <?php if($compras){?><span class="badge badge-success "><?php echo $compras;?></span><?php }?></a></li>
                          <li><a href="/cuenta/ventas/panel"><i class="fa fa-ticket"></i> Mis Ventas <?php if($ventas){?><span class="badge badge-success "><?php echo $ventas;?></span><?php }?></a></li>
                          <li class="divider"></li>
                          <li><a href="/cuenta/index/logout"><i class="icon-off "></i> Cerrar sesión</a></li>
                        </ul>
              	</li>
		        <li class="divider-vertical"></li>
		          
		      	<?php else:?>
		      	<li><a href="#myLogin" role="button"  data-toggle="modal" style="color:#fff!important;">LOGIN </a></li>
		      	<li class="divider-vertical"></li>
		      	<li><a href="#long" role="button"  data-toggle="modal"><span class="label label-success" >REGISTRATE!</span></a></li>
		      	<?php endif;?>
		</ul>
	</div>
	 <?php $alertBox = $this->alertBox();
	 		echo $alertBox;?>
</div>
<?php if($alertBox){?>
	<script type="text/javascript">
		$( document ).ready(function() {$("#messagebox").slideDown().delay( 15000 ).fadeOut(400);});
	</script>
<?php }?>